<div class="row editorNav">
          <div class="col-6">
            <a href="/inspiration" class="button large secondary">&#171; Back to Inspiration</a>
          </div>
          <div class="col-6">
            <a href="#" class="button large savePoster">Save and Continue &#187;</a>
          </div>
    </div>