<div class="loading">
  <div class="loadContain">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div> 
    </div>
    <p class="loadingMessage">Fear and Loading in Las Vegas...</p> 
  </div>
</div>