  <div class="sidebar">
    <a class="closeSidebar"><img src="../images/closeButton.png" height="30" width="30" alt=""></a>
    <div class="row sidebarTop">
      <div class="large-12 columns">
        <a href="#" class="sidebar-back button">Back</a>
        <h2 class="sidebarTitle">Edit Face - <span class="currentSection">Insert an Image</span></h2>
      </div>
    </div>
    <div class="pickInput">
      <div class="input-method webcam-input">
        <div class="icon"></div>
        <h2>Take a Photo</h2>
      </div>
      <div class="divider">
        <img src="../images/divider.png" height="33" width="132" alt="">
      </div>
      <div class="input-method facebook-input">
        <div class="icon"></div>
        <h2>Choose from Facebook</h2>
      </div>
    </div>
    <div class="yourImages">
      <div class="row">
        <div class="large-12 columns">
          <div class="sidebarLoading">
            <div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
          </div>
          <ul class="photoPicker"></ul>
        </div>
      </div>
    </div>
    <div class="row sidebarButtons">
        <div class="buttonContain">
       <div class="col-6">
              <a href="/gallery" class="button large secondary">Cancel</a>
            </div>
            <div class="col-6">
              <a href="/editor.html" class="button large primary">
                Save
              </a>
            </div>
           </div> 
    </div>
  </div>
  <div class="blackOut"></div>