      <div class="col-3">
        <div class="panel">
          <div class="steps">
            <div class="step">
              <div class="heading"> 
                <div class="first line"><h4>1</h4></div>
                <div class="second line"><h1>Pick Inspiration</h1></div>
              </div>
            </div>
            <div class="step active">
              <div class="heading">
                <div class="first line"><h4>2</h4></div>
                <div class="second line"><h1>Design Your Poster</h1></div>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, similique, itaque, cupiditate, dolore asperiores esse veniam omnis quam nobis dicta provident vel impedit distinctio nisi.</p>
            </div>
            <div class="step">
              <div class="heading">
                <div class="first line"><h4>3</h4></div>
                <div class="second line"><h1>Save and Share</h1></div>
              </div>
            </div>
          </div>
        </div>
      </div>