<div class="title-editor">
  <div class="edit-box">
    <h2>Edit Text</h2>
    <span class="charRemaining"></span>
    <input type="text" id="text-editor-input" value="" autocomplete="off">
  </div>
  <div class="edit-buttons">
    <div class="row">
        <div class="col-6">
          <a href="#" class="button large secondary cancel-title">Cancel</a>
        </div>
        <div class="col-6">
          <a href="#" class="button large primary update-title">Update Title</a>
        </div>
      </div> 
    </div>
</div>
<div class="cast-editor">
  <div class="edit-box">
    <h2>First Name</h2>
    <span class="firstRemaining"></span>
    <input type="text" id="first-name-input" value="" autocomplete="off">
    <h2>Last Name</h2>
    <span class="lastRemaining"></span>
    <input type="text" id="last-name-input" value="" autocomplete="off">
  </div>
  <div class="edit-buttons">
    <div class="row">
        <div class="col-6">
          <a href="#" class="button large secondary cancel-cast">Cancel</a>
        </div>
        <div class="col-6">
          <a href="#" class="button large primary update-cast">Update Name</a>
        </div>
      </div> 
    </div>
</div>