<div class="webcam-contain">
      <div class="takePhoto">
        <h2>Hit SPACE to take a photo</h2>
         <a href="#" class="button large secondary closeWebcam">Cancel</a>
      </div>
      <div class="webcam-wrap">
        <div id="webcam"></div>
      </div> 
    </div>