﻿@model NewRepublique.PosterCompetition.Models.ViewModels.PostersViewModel

@{
    Layout = null;
}

<div>
    <table class="table">
        <tr>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.PostersToShow)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.ImageUrl
                </td>
                <td>
                    <img src="@item.ImageUrl" width="50" height="50" /> 
                </td>
            </tr>            
        }

    </table>    
</div>
<div>
    @Model.PageNumber
</div>

<a href="@Url.Action("Posters", "Gallery")">next page</a>

