﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div>
    @ViewBag.total
</div>

<div class="scroll">    
    <p>Content here...</p>

    <a href="@Url.Action("Posters", "Gallery")">next page</a>
</div>

@section Scripts
{
    <script src="~/Scripts/jScroll/jquery.jscroll.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.scroll').jscroll({
                autoTriggerUntil : @ViewBag.total
                //loadingHtml: '<img src="http://www.loadinfo.net/images/preview/12_cyrle_two_24.gif?1384388177" alt="Loading" /> Loading...'
            });
        });

       
    </script>
}

