	<!-- Global Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="/js/fb-ck.js"></script>
	<script src="/js/flexslider.js"></script>


    
