	<!-- Editor Scripts -->
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="/js/html2canvas.js"></script>
    <script src="/js/caman.js"></script>
    <script src="/js/scriptcam.min.js"></script>
    <script src="/js/getImage.js"></script>
    <script src="/js/squishy.js"></script>
    <script src="/js/editor.js"></script>
