      <div class="row">
        <header>
          <a href="/">
          	<img src="/images/logo.png" height="79" width="208" alt="" class="center">
          </a>  
          <div class="fbStatus">
	        <p>Connected as <span class="myName"></span><a href="#" class="logOut" onclick="FB.logout()">Log Out</a></p>
	      </div>
        </header>
      </div>