    <link rel="stylesheet" href="/stylesheets/webfonts.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/animate.css" />
    <link rel="stylesheet" href="/stylesheets/spinner.css" />
    <link rel="stylesheet" href="/stylesheets/flexslider.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!--[if IE]>
		<link rel="stylesheet" type="text/css" href="/stylesheets/2002.css" />
	<![endif]-->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <script type="text/javascript" src="//use.typekit.net/wrh7hef.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>  