﻿@using MvcPaging;
@model NewRepublique.AdminWebsite.Models.ViewModels.PostersViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Poster"))
{
    <div class="margin-bottom-20">
        <span>
            From:
        </span>
        <span class="margin-right-40">
            @Html.TextBoxFor(model => model.FromDate, new { Value = Model.FromDate != null ? Model.FromDate.Value.ToString("dd-MM-yyyy HH:mm") : null, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.FromDate)
        </span>
        <span>
            To:
        </span>
        <span class="margin-right-40">
            @Html.TextBoxFor(model => model.ToDate, new { Value = Model.ToDate != null ? Model.ToDate.Value.ToString("dd-MM-yyyy HH:mm") : null, @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.ToDate)
        </span>
        <span>
            Sort By:
        </span>
        <span>
            @Html.DropDownListFor(model => model.OrderBy, new[] { new SelectListItem() { Text = "CreatedOn", Value = "CreatedOn" },
                                                                  new SelectListItem() { Text = "Views", Value = "Views" },
                                                                  new SelectListItem() { Text = "IsFlaggedForInappropriate", Value = "IsFlaggedForInappropriate" } }, "Select")
            @Html.ValidationMessageFor(model => model.OrderBy)
        </span>
    </div>

    <div class="margin-bottom-20">
        <input type="submit" value="Search" name="Search" />
    </div>
}
    
    @if(Model.Posters != null && Model.Posters.Count() > 0)
    { 
        <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>Created On</th>
            <th>Image</th>
            <th>Views</th>
            <th>Inappropriate</th>            
            <th>Visible</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Posters)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="@item.Title" width="50" height="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Views)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsFlaggedForInappropriate, new { @readonly = "readonly" })
                </td>                
                <td>
                    @Html.CheckBoxFor(modelItem => item.IsVisible, new { @readonly = "readonly" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, fromDate = Model.FromDate, toDate = Model.ToDate, pageNumber = Model.PageNumber, orderBy = Model.OrderBy, page = Model.PageNumber  })
            </tr>
        }
        </table>
        
        @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalCount).Options(o => o.AddRouteValueFor(x => x.FromDate).AddRouteValueFor(x => x.ToDate).AddRouteValueFor(x => x.OrderBy))
    }
    else
    {
        <div>No records found</div>
    }

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#FromDate").datepicker({ dateFormat: 'dd-mm-yy' });
            $("#ToDate").datepicker({ dateFormat: 'dd-mm-yy' });

            jQuery.validator.addMethod(
                'date',
                function (value, element, params) {
                    if (this.optional(element)) {
                        return true;
                    };
                    var result = false;
                    try {
                        $.datepicker.parseDate('dd-mm-yy', value);
                        result = true;
                    } catch (err) {
                        result = false;
                    }
                    return result;
                },
                ''
            );
        });
    </script>
}
