/* line 2, ../scss/2002.sass */
.noise {
  display: none;
}

/* line 7, ../scss/2002.sass */
a img {
  border: 0 !important;
  outline: none !important;
}

/* line 13, ../scss/2002.sass */
.activeHotspot {
  display: none !important;
}
