﻿/* line 1, ../scss/_grid.sass */
.container {
  width: 960px;
  margin: 0 auto;
  margin-bottom: 150px;
}

/* line 6, ../scss/_grid.sass */
.row {
  width: 100%;
  content: "";
  display: table;
  clear: both;
  margin-bottom: 1.2em;
}

/* line 15, ../scss/_grid.sass */
[class*='col-'] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 14px;
  min-height: 1px;
}

/* line 24, ../scss/_grid.sass */
[class*='col-']:last-of-type {
  padding-right: 0;
}

/* line 31, ../scss/_grid.sass */
.col-1 {
  width: 5.333%;
  min-width: 6.333%;
}

/* line 34, ../scss/_grid.sass */
.col-2 {
  width: 16.7%;
  min-width: 16.7%;
}

/* line 37, ../scss/_grid.sass */
.col-3 {
  width: 25%;
  min-width: 25%;
}

/* line 40, ../scss/_grid.sass */
.col-4 {
  width: 33%;
  min-width: 33%;
}

/* line 43, ../scss/_grid.sass */
.col-5 {
  width: 41.67%;
  min-width: 41.67%;
}

/* line 46, ../scss/_grid.sass */
.col-6 {
  width: 50%;
  min-width: 50%;
}

/* line 49, ../scss/_grid.sass */
.col-7 {
  width: 58.33%;
  min-width: 58.33%;
}

/* line 52, ../scss/_grid.sass */
.col-8 {
  width: 67%;
  min-width: 67%;
}

/* line 55, ../scss/_grid.sass */
.col-9 {
  width: 75%;
  min-width: 75%;
}

/* line 58, ../scss/_grid.sass */
.col-10 {
  width: 83.33%;
  min-width: 83.33%;
}

/* line 61, ../scss/_grid.sass */
.col-11 {
  width: 91.67%;
  min-width: 91.67%;
}

/* line 64, ../scss/_grid.sass */
.col-12 {
  width: 100%;
  min-width: 100%;
}

/* line 1, ../scss/_typography.sass */
body {
  font-family: "minion-pro", "Georgia", serif;
  color: #dbdbdb;
  font-size: 14px;
}

/* line 6, ../scss/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: AndoSemibold;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: white;
}

/* line 14, ../scss/_typography.sass */
.terms-of-use {
  color: #e6e6e6;
  text-decoration: none;
  border-bottom: 1px dotted white;
}
/* line 18, ../scss/_typography.sass */
.terms-of-use:hover {
  color: #cccccc;
}

/* line 22, ../scss/_typography.sass */
footer p {
  font-size: 1.2em;
}
/* line 24, ../scss/_typography.sass */
footer a {
  color: white;
}

/* line 29, ../scss/_typography.sass */
.heading .line {
  font-family: AndoSemibold;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
/* line 34, ../scss/_typography.sass */
.heading .line h1, .heading .line h2, .heading .line h3, .heading .line h4, .heading .line h5, .heading .line h6 {
  margin: 0;
}
/* line 36, ../scss/_typography.sass */
.heading .first.line {
  font-size: 1.857em;
}
/* line 39, ../scss/_typography.sass */
.heading .second.line:before {
  height: 8px;
  display: block;
  content: "";
  width: 100%;
  margin-bottom: 6px;
  position: relative;
  top: -1px;
  background-image: url("../images/heading-top.png");
  background-repeat: no-repeat;
  background-position: center top;
}
/* line 50, ../scss/_typography.sass */
.heading .second.line:after {
  height: 8px;
  display: block;
  content: "";
  width: 100%;
  margin-top: 4px;
  position: relative;
  top: -2px;
  background-image: url("../images/heading-bottom.png");
  background-repeat: no-repeat;
  background-position: center top;
}

/* line 62, ../scss/_typography.sass */
.steps .step {
  opacity: 0.5;
  margin-bottom: 10px;
}
/* line 65, ../scss/_typography.sass */
.steps .active {
  opacity: 1;
}

/* line 68, ../scss/_typography.sass */
h1 {
  font-size: 2.371em;
}

/* line 71, ../scss/_typography.sass */
p {
  font-weight: 100;
  font-size: 1.1em;
  line-height: 1.5;
}

/* line 76, ../scss/_typography.sass */
.description {
  padding: 7px 10px;
}
/* line 78, ../scss/_typography.sass */
.description .title {
  font-weight: bold;
  color: white;
  font-size: 1.1em;
  word-break: break-all;
}
/* line 83, ../scss/_typography.sass */
.description .author {
  margin-top: 2px;
}
/* line 85, ../scss/_typography.sass */
.description .author:before {
  content: "by ";
}

/* line 1, ../scss/_buttons.sass */
.button {
  color: white;
  text-decoration: none;
  border: 1px solid #cfcfcf;
  text-align: center !important;
  display: block;
  width: 95%;
  margin-top: 5px;
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
  -webkit-transition: opacity, 300ms;
  -moz-transition: opacity, 300ms;
  -transition: opacity, 300ms;
}
/* line 11, ../scss/_buttons.sass */
.button:before {
  width: 30px;
  content: "";
  height: 55px;
  float: left;
  margin-left: -7px;
  margin-top: -18px;
  background-image: url("../images/buttonBefore.png");
}
/* line 19, ../scss/_buttons.sass */
.button:after {
  width: 30px;
  content: "";
  height: 55px;
  float: right;
  margin-right: -7px;
  margin-top: -18px;
  background-image: url("../images/buttonAfter.png");
}
/* line 27, ../scss/_buttons.sass */
.button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer !important;
}

/* line 30, ../scss/_buttons.sass */
.button.primary {
  background-color: rgba(255, 255, 255, 0.25);
}
/* line 32, ../scss/_buttons.sass */
.button.primary:hover {
  background-color: rgba(255, 255, 255, 0.45);
}

/* line 34, ../scss/_buttons.sass */
.button.secondary {
  background-color: rgba(0, 0, 0, 0.25);
}
/* line 36, ../scss/_buttons.sass */
.button.secondary:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

/* line 39, ../scss/_buttons.sass */
.fbLogin:hover {
  cursor: pointer !important;
}

/* line 42, ../scss/_buttons.sass */
.plus-minus {
  background-color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  font-size: 2em !important;
  height: 42px;
  width: 45px;
  padding: 0px 0 0 0 !important;
  float: left;
}
/* line 50, ../scss/_buttons.sass */
.plus-minus:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* line 52, ../scss/_buttons.sass */
.add-scale {
  margin-left: 4px;
}

/* line 56, ../scss/_buttons.sass */
.editorNav .button {
  width: 50%;
  float: right;
  height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 61, ../scss/_buttons.sass */
.editorNav .button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
/* line 63, ../scss/_buttons.sass */
.editorNav .secondary {
  float: left;
  background-color: rgba(0, 0, 0, 0.25);
}
/* line 66, ../scss/_buttons.sass */
.editorNav .secondary:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

/* line 70, ../scss/_buttons.sass */
.button.large {
  padding: 11.5px 0px;
  font-size: 1em;
}

/* line 74, ../scss/_buttons.sass */
.button.medium {
  padding: 11px 0px;
  font-size: 0.9em;
  text-align: left;
  text-indent: -2px;
}
/* line 79, ../scss/_buttons.sass */
.button.medium .icon {
  left: -12px;
  top: 0;
}
/* line 82, ../scss/_buttons.sass */
.button.medium:after {
  margin-right: -10px;
  position: relative;
  left: -3px;
  top: 0px;
}

/* line 89, ../scss/_buttons.sass */
.button .icon {
  float: left;
  position: relative;
  left: -5px;
  top: -1px;
}

/* line 95, ../scss/_buttons.sass */
.addToPoster {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 1em;
  padding: 10px 15px;
  border: 1px solid white;
  float: right;
  position: absolute;
  right: -120px;
  top: 12px;
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
}
/* line 106, ../scss/_buttons.sass */
.addToPoster:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

/* line 111, ../scss/_buttons.sass */
.button.barebones:before {
  display: none;
}
/* line 113, ../scss/_buttons.sass */
.button.barebones:after {
  display: none;
}
/* line 115, ../scss/_buttons.sass */
.button.barebones .icon {
  left: 10px;
  top: -2px;
}

/* line 120, ../scss/_buttons.sass */
.poster-actions .button {
  width: 47%;
  position: relative;
  top: -10px;
  padding: 10px 0;
}
/* line 125, ../scss/_buttons.sass */
.poster-actions .secondary {
  float: left;
}
/* line 127, ../scss/_buttons.sass */
.poster-actions .primary {
  float: right;
}

/* line 2, ../scss/_widgets.sass */
.flexslider.homeslider {
  margin-left: -25px;
  background-image: url("../images/bigFrame.png");
  width: 390px;
  height: 550px;
  background-position: left;
  z-index: 10;
}

/* line 10, ../scss/_widgets.sass */
.flex-viewport {
  width: 290px;
  top: 55px;
  left: 65px;
  overflow: hidden !important;
}

/* line 16, ../scss/_widgets.sass */
.flex-control-nav {
  bottom: 0px !important;
  left: 15px;
}
/* line 19, ../scss/_widgets.sass */
.flex-control-nav li a {
  border: 1px solid white;
  background: none !important;
  -webkit-transition: background, 300ms;
  -moz-transition: background, 300ms;
  -transition: background, 300ms;
}
/* line 23, ../scss/_widgets.sass */
.flex-control-nav li a:hover {
  background: rgba(255, 255, 255, 0.3) !important;
}
/* line 25, ../scss/_widgets.sass */
.flex-control-nav .flex-active {
  background-color: white !important;
}
/* line 27, ../scss/_widgets.sass */
.flex-control-nav .flex-active:hover {
  background-color: white !important;
}

/* line 32, ../scss/_widgets.sass */
.gallery-lightbox {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 99;
}
/* line 42, ../scss/_widgets.sass */
.gallery-lightbox .inspired-prompt {
  width: 550px;
  padding: 25px 30px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  outline: 1px solid white;
}
/* line 48, ../scss/_widgets.sass */
.gallery-lightbox .inspired-prompt .button {
  width: 33%;
  display: inline-block;
  margin: 0;
  position: relative;
  top: -5px;
}
/* line 54, ../scss/_widgets.sass */
.gallery-lightbox .inspired-prompt .button .icon {
  left: 7px;
}
/* line 56, ../scss/_widgets.sass */
.gallery-lightbox .inspired-prompt h2 {
  font-size: 2.6em;
  margin: 0;
  width: 66%;
  display: inline-block;
}
/* line 61, ../scss/_widgets.sass */
.gallery-lightbox .image-contain {
  outline: 1px solid white;
  padding: 7px 7px 0 7px;
  position: relative;
  margin: 0 auto;
  width: 450px;
  top: 7%;
}
/* line 68, ../scss/_widgets.sass */
.gallery-lightbox .image-contain .close {
  background-image: url("../images/ui-sprite.png");
  height: 29px;
  width: 29px;
  z-index: 99;
  position: absolute;
  right: -30px;
  top: -30px;
  background-position: 0 29px;
}
/* line 77, ../scss/_widgets.sass */
.gallery-lightbox .image-contain .close:hover {
  background-position: 29px 29px !important;
  cursor: pointer;
}
/* line 80, ../scss/_widgets.sass */
.gallery-lightbox .image-contain .lightbox-image {
  max-width: 100%;
}
/* line 82, ../scss/_widgets.sass */
.gallery-lightbox .lightbox-controls {
  position: absolute;
  top: 42%;
  z-index: 100;
  width: 100%;
}
/* line 87, ../scss/_widgets.sass */
.gallery-lightbox .lightbox-controls .left-arrow {
  position: absolute;
  left: -45px;
}
/* line 90, ../scss/_widgets.sass */
.gallery-lightbox .lightbox-controls .right-arrow {
  position: absolute;
  right: -31px;
}
/* line 93, ../scss/_widgets.sass */
.gallery-lightbox .lightbox-controls .left-arrow, .gallery-lightbox .lightbox-controls .right-arrow {
  opacity: 0.7;
  -webkit-transition: opacity, 300ms;
  -moz-transition: opacity, 300ms;
  -transition: opacity, 300ms;
}
/* line 96, ../scss/_widgets.sass */
.gallery-lightbox .lightbox-controls .left-arrow:hover, .gallery-lightbox .lightbox-controls .right-arrow:hover {
  opacity: 1;
}
/* line 98, ../scss/_widgets.sass */
.gallery-lightbox .poster-details {
  display: none;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 100%;
  padding: 25px;
}
/* line 105, ../scss/_widgets.sass */
.gallery-lightbox .poster-actions {
  bottom: 0;
  left: 0;
}
/* line 108, ../scss/_widgets.sass */
.gallery-lightbox .meta {
  top: 0;
  left: 0;
}
/* line 111, ../scss/_widgets.sass */
.gallery-lightbox .meta .title p {
  font-weight: bold;
  margin: 0;
  color: white;
  font-size: 1.2em;
}
/* line 116, ../scss/_widgets.sass */
.gallery-lightbox .meta .author p {
  margin: 0;
}

/* line 120, ../scss/_widgets.sass */
.sorter {
  width: 380px;
  margin: 40px auto;
}
/* line 123, ../scss/_widgets.sass */
.sorter label {
  float: left;
  margin-right: 20px;
}
/* line 126, ../scss/_widgets.sass */
.sorter a {
  color: white;
  padding: 6px 18px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
  text-decoration: none;
  border: 1px solid #cdcdcd;
  margin: 0;
}
/* line 134, ../scss/_widgets.sass */
.sorter a:nth-child(2n) {
  position: relative;
  left: -4px;
}
/* line 137, ../scss/_widgets.sass */
.sorter a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
/* line 139, ../scss/_widgets.sass */
.sorter a.active {
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 141, ../scss/_widgets.sass */
.sorter a.active:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 1, ../scss/_global.sass */
header {
  height: 100px;
  padding: 20px 0 0 0;
  margin-bottom: 0px;
}

/* line 6, ../scss/_global.sass */
footer {
  background-color: black;
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 10px;
  padding: 5px 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

/* line 2, ../scss/_images.sass */
.hero {
  padding-bottom: 5px;
  position: relative;
  right: -7px;
}

/* line 6, ../scss/_images.sass */
.shine {
  position: absolute;
  z-index: 15;
  margin-left: 40px;
  margin-top: 55px;
  opacity: 1 !important;
}

/* line 13, ../scss/_images.sass */
.galleryFrame {
  position: absolute;
  width: 231px !important;
  z-index: 10 !important;
}

/* line 17, ../scss/_images.sass */
.galleryImages {
  margin-bottom: 100px;
}

/* line 21, ../scss/_images.sass */
.inspiration p {
  line-height: 1.2em;
  margin-top: 10px;
}

/* line 25, ../scss/_images.sass */
.gallery-item {
  width: 231px;
  overflow: hidden;
}

/* line 30, ../scss/_images.sass */
.galleryImages .galleryImage {
  -webkit-transition: box-shadow, 300ms;
  -moz-transition: box-shadow, 300ms;
  -transition: box-shadow, 300ms;
  -webkit-transition: -webkit-box-shadow, 300ms;
  -moz-transition: -webkit-box-shadow, 300ms;
  -transition: -webkit-box-shadow, 300ms;
  -webkit-transition: -moz-box-shadow, 300ms;
  -moz-transition: -moz-box-shadow, 300ms;
  -transition: -moz-box-shadow, 300ms;
  -webkit-transition: -ms-box-shadow, 300ms;
  -moz-transition: -ms-box-shadow, 300ms;
  -transition: -ms-box-shadow, 300ms;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  position: relative;
  top: 0px;
  left: -1px;
}
/* line 42, ../scss/_images.sass */
.galleryImages .galleryFrame {
  -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: box-shadow, 300ms;
  -moz-transition: box-shadow, 300ms;
  -transition: box-shadow, 300ms;
  -webkit-transition: -webkit-box-shadow, 300ms;
  -moz-transition: -webkit-box-shadow, 300ms;
  -transition: -webkit-box-shadow, 300ms;
  -webkit-transition: -moz-box-shadow, 300ms;
  -moz-transition: -moz-box-shadow, 300ms;
  -transition: -moz-box-shadow, 300ms;
  -webkit-transition: -ms-box-shadow, 300ms;
  -moz-transition: -ms-box-shadow, 300ms;
  -transition: -ms-box-shadow, 300ms;
}
/* line 51, ../scss/_images.sass */
.galleryImages li:hover {
  opacity: 1;
}
/* line 53, ../scss/_images.sass */
.galleryImages li:hover .galleryFrame {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
  -ms-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.9);
}

/* line 60, ../scss/_images.sass */
.loading-spin {
  display: block !important;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* line 65, ../scss/_images.sass */
.sidebarLoading .loading-spin {
  position: relative;
  left: -50px;
}

/* line 69, ../scss/_images.sass */
.final-poster-frame {
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  pointer-events: none;
  position: relative;
  top: -100px;
}
/* line 77, ../scss/_images.sass */
.final-poster-frame .the-frame, .final-poster-frame .the-poster {
  position: absolute;
}
/* line 79, ../scss/_images.sass */
.final-poster-frame .the-poster {
  position: relative;
  left: 76px;
  top: 95px;
}
/* line 83, ../scss/_images.sass */
.final-poster-frame .the-frame {
  z-index: 10;
}
/* line 85, ../scss/_images.sass */
.final-poster-frame .the-poster {
  z-index: 100;
}

/* line 1, ../scss/_editor.sass */
.center {
  display: block;
  margin: 0 auto;
}

/* line 6, ../scss/_editor.sass */
.clickThrough {
  pointer-events: none;
}

/* line 11, ../scss/_editor.sass */
.abandon-container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
}
/* line 19, ../scss/_editor.sass */
.abandon-container .abandon {
  margin: 0 auto;
  width: 400px;
  outline: 1px solid white;
  padding: 25px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 100px;
}
/* line 27, ../scss/_editor.sass */
.abandon-container h4 {
  font-size: 2.7em;
  margin: 0;
}
/* line 30, ../scss/_editor.sass */
.abandon-container .row {
  margin: 0;
}

/* line 33, ../scss/_editor.sass */
.terms-container {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
}
/* line 41, ../scss/_editor.sass */
.terms-container .terms {
  margin: 0 auto;
  width: 550px;
  outline: 1px solid white;
  padding: 25px;
  background: rgba(0, 0, 0, 0.8);
  position: relative;
  top: 100px;
}
/* line 49, ../scss/_editor.sass */
.terms-container .terms .text {
  height: 400px;
  overflow: scroll;
}
/* line 52, ../scss/_editor.sass */
.terms-container h4 {
  font-size: 2.7em;
  margin: 0;
}
/* line 55, ../scss/_editor.sass */
.terms-container .row {
  margin: 0;
}
/* line 57, ../scss/_editor.sass */
.terms-container .close-terms {
  background-image: url("../images/ui-sprite.png");
  height: 29px;
  width: 29px;
  z-index: 99999;
  position: absolute;
  right: -30px;
  top: -30px;
  background-position: 0 29px;
}
/* line 66, ../scss/_editor.sass */
.terms-container .close-terms:hover {
  background-position: 29px 29px !important;
  cursor: pointer;
}

/* line 71, ../scss/_editor.sass */
.poster, .marker {
  position: relative;
  z-index: 10;
  max-width: 100%;
  height: 100%;
  pointer-events: none;
}
/* line 77, ../scss/_editor.sass */
.poster img, .marker img {
  max-width: 100%;
  width: 85%;
  margin: 0 auto;
  display: block;
}

/* line 82, ../scss/_editor.sass */
.marker {
  display: none;
}

/* line 85, ../scss/_editor.sass */
.poster {
  opacity: 1;
}

/* line 88, ../scss/_editor.sass */
#face {
  display: none;
}

/* line 91, ../scss/_editor.sass */
.over-limit {
  color: #bb1512;
}

/* line 94, ../scss/_editor.sass */
.renderDump {
  background: none;
}
/* line 96, ../scss/_editor.sass */
.renderDump .face-canvas {
  background: rgba(255, 255, 255, 0.3);
}

/* line 99, ../scss/_editor.sass */
.charRemaining, .firstRemaining, .lastRemaining {
  float: right;
  display: block;
  font-size: 1.1em;
  position: absolute;
  top: 25px;
  right: 25px;
}

/* line 107, ../scss/_editor.sass */
.lastRemaining {
  top: 223px;
}

/* line 110, ../scss/_editor.sass */
.hotspot {
  border: 1px dashed #d2d2d2;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
}
/* line 114, ../scss/_editor.sass */
.hotspot:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

/* line 117, ../scss/_editor.sass */
.activeHotspot {
  border: 3px solid #b98c3b;
}

/* line 119, ../scss/_editor.sass */
.metaIcon {
  position: absolute;
  top: -15px;
  right: -15px;
  background-image: url("../images/ui-sprite.png");
  height: 29px;
  width: 29px;
  z-index: 99;
}

/* line 130, ../scss/_editor.sass */
.hotspot:hover #camera {
  background-position: 29px 0;
}
/* line 132, ../scss/_editor.sass */
.hotspot:hover #pencil {
  background-position: 29px 58px;
}
/* line 134, ../scss/_editor.sass */
.hotspot:hover #cross {
  background-position: 29px 29px;
}

/* line 136, ../scss/_editor.sass */
#cross:hover {
  background-position: 29px 29px !important;
  cursor: pointer;
}

/* line 139, ../scss/_editor.sass */
.metaIcon#camera {
  background-position: 0 0;
}

/* line 141, ../scss/_editor.sass */
.metaIcon#pencil {
  background-position: 0 58px;
}

/* line 143, ../scss/_editor.sass */
.metaIcon#cross {
  background-position: 0 29px;
}

/* line 146, ../scss/_editor.sass */
.metaIcon.active#camera {
  background-position: 29px 0;
}

/* line 148, ../scss/_editor.sass */
.metaIcon.active#pencil {
  background-position: 29px 58px;
}

/* line 150, ../scss/_editor.sass */
.metaIcon.active#cross {
  background-position: 29px 29px;
}

/* line 153, ../scss/_editor.sass */
.flash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: white;
  display: none;
}

/* line 162, ../scss/_editor.sass */
.takePhoto {
  width: 650px;
  padding: 40px;
  height: 40px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  outline: 1px solid white;
  left: 40%;
  display: none;
  clear: both;
}
/* line 172, ../scss/_editor.sass */
.takePhoto h2 {
  float: left;
  font-size: 2.5em;
  margin: 0;
}
/* line 176, ../scss/_editor.sass */
.takePhoto .button {
  float: right;
  width: 25%;
  margin: 0;
}
/* line 180, ../scss/_editor.sass */
.takePhoto .button:before, .takePhoto .button:after {
  display: none;
}
/* line 182, ../scss/_editor.sass */
.takePhoto .button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 185, ../scss/_editor.sass */
.close-webcam {
  background-image: url("../images/ui-sprite.png");
  height: 29px;
  width: 29px;
  z-index: 99;
  position: absolute;
  right: -40px;
  top: -40px;
  background-position: 0 29px;
}
/* line 194, ../scss/_editor.sass */
.close-webcam:hover {
  background-position: 29px 29px !important;
  cursor: pointer;
}

/* line 197, ../scss/_editor.sass */
.webcam-wrap {
  margin: 0 auto;
  width: 640px;
  height: 480px;
  position: relative;
  top: 13%;
}
/* line 203, ../scss/_editor.sass */
.webcam-wrap .line-up {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
}

/* line 209, ../scss/_editor.sass */
.face-canvas {
  background-color: white;
  z-index: 9 !important;
}
/* line 212, ../scss/_editor.sass */
.face-canvas h1 {
  position: absolute;
  z-index: 99 !important;
  top: 0;
  left: 0;
}

/* line 218, ../scss/_editor.sass */
.face-canvas, #webcam {
  position: absolute;
  overflow: hidden;
  z-index: 9;
}

/* line 224, ../scss/_editor.sass */
.sidebarButtons {
  -webkit-box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: -20px;
  background-color: black;
  padding: 10px 0 20px 0;
  display: none;
}
/* line 235, ../scss/_editor.sass */
.sidebarButtons .button:before {
  display: none;
}
/* line 237, ../scss/_editor.sass */
.sidebarButtons .button:after {
  display: none;
}
/* line 239, ../scss/_editor.sass */
.sidebarButtons .buttonContain {
  padding: 0 25px;
}

/* line 242, ../scss/_editor.sass */
.ui-draggable:hover {
  cursor: -webkit-grab;
  cursor: move;
}
/* line 245, ../scss/_editor.sass */
.ui-draggable:active {
  cursor: -webkit-grabbing;
  cursor: move;
}

/* line 249, ../scss/_editor.sass */
.final-poster-frame {
  width: 776px;
  overflow: hidden;
}

/* line 252, ../scss/_editor.sass */
.savePoster {
  display: none;
}

/* line 255, ../scss/_editor.sass */
.loadContain {
  position: absolute;
  top: 35%;
  left: 27%;
}

/* line 260, ../scss/_editor.sass */
.sidebar-back {
  -webkit-box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 -4px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: black;
  position: absolute;
  width: auto;
  top: 20px;
  padding: 10px 45px;
  left: 20px;
  display: none;
}
/* line 272, ../scss/_editor.sass */
.sidebar-back:before {
  display: none;
}
/* line 274, ../scss/_editor.sass */
.sidebar-back:after {
  display: none;
}
/* line 276, ../scss/_editor.sass */
.sidebar-back:hover {
  opacity: 0.8;
}

/* line 279, ../scss/_editor.sass */
.image-lightbox {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
/* line 288, ../scss/_editor.sass */
.image-lightbox img {
  margin: 0 auto;
  display: block;
}

/* line 293, ../scss/_editor.sass */
.sidebar {
  color: black;
}
/* line 295, ../scss/_editor.sass */
.sidebar .sidebarLoading {
  position: absolute;
  display: none;
  left: 43%;
  top: 45%;
}
/* line 300, ../scss/_editor.sass */
.sidebar .sidebarLoading .spinner > div {
  background-color: white !important;
}

/* line 304, ../scss/_editor.sass */
.loading p {
  width: 680px;
  top: 52%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 2em;
  font-family: AndoSemibold !important;
}

/* line 314, ../scss/_editor.sass */
.currentSection {
  color: #c3c3c3;
}

/* line 317, ../scss/_editor.sass */
.sidebar {
  background-color: rgba(0, 0, 0, 0.5);
  border-right: 1px solid white;
  width: 35%;
  min-width: 340px !important;
  max-width: 450px;
  height: 100%;
  position: fixed;
  z-index: 99;
  display: none;
}
/* line 327, ../scss/_editor.sass */
.sidebar h2 {
  font-size: 2.4em;
  margin-left: 25px;
}

/* line 330, ../scss/_editor.sass */
.sidebarTitle {
  margin-top: 95px;
  margin-bottom: 15px;
}

/* line 335, ../scss/_editor.sass */
.blackOut {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: none;
}

/* line 343, ../scss/_editor.sass */
.closeSidebar {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99;
  color: white;
  font-size: 2.1em;
  -webkit-transition: opacity, 300ms;
  -moz-transition: opacity, 300ms;
  -transition: opacity, 300ms;
}
/* line 351, ../scss/_editor.sass */
.closeSidebar:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* line 355, ../scss/_editor.sass */
.yourImages {
  margin-top: -20px;
  height: 85%;
  overflow: scroll;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.5);
}

/* line 368, ../scss/_editor.sass */
.faceContainer img {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 374, ../scss/_editor.sass */
.controls {
  display: none;
}

/* line 376, ../scss/_editor.sass */
#webcam {
  z-index: 100;
  outline: 1px solid white;
  padding: 5px;
}

/* line 381, ../scss/_editor.sass */
.webcam-contain {
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

/* line 392, ../scss/_editor.sass */
.disabled {
  opacity: 0.3;
}

/* line 395, ../scss/_editor.sass */
.controls {
  position: absolute;
  z-index: 12;
}

/* line 398, ../scss/_editor.sass */
.scale {
  padding: 5px;
  border-radius: 20px;
}

/* line 402, ../scss/_editor.sass */
.add .button {
  position: absolute;
  top: 0;
  right: -75px;
}

/* line 409, ../scss/_editor.sass */
#image-scale:hover {
  cursor: pointer;
}

/* line 412, ../scss/_editor.sass */
.loading {
  background-color: rgba(0, 0, 0, 0.95);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  display: block;
}

/* line 420, ../scss/_editor.sass */
.photoPicker {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 60px;
  padding-left: 15px;
}
/* line 426, ../scss/_editor.sass */
.photoPicker li {
  float: left;
  margin: 5px;
  height: 135px;
  min-height: 135px;
  width: 125px;
  overflow: hidden;
  background-color: white;
  border: 2px solid white;
  box-sizing: border-box;
  -webkit-transition: border, 200ms;
  -moz-transition: border, 200ms;
  -transition: border, 200ms;
}
/* line 438, ../scss/_editor.sass */
.photoPicker li img {
  max-width: 100%;
  position: relative;
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  top: 0;
  width: 100%;
}
/* line 447, ../scss/_editor.sass */
.photoPicker li:hover {
  border: 4px solid #daaa57;
  cursor: pointer;
}
/* line 451, ../scss/_editor.sass */
.photoPicker .albumCover {
  overflow: hidden;
  height: auto !important;
  min-height: 190px;
  max-height: 190px;
  border: none;
  background: none;
  display: block;
}
/* line 459, ../scss/_editor.sass */
.photoPicker .albumCover:hover {
  outline: none;
  border: none;
}
/* line 462, ../scss/_editor.sass */
.photoPicker .activePic {
  border: 4px solid #daaa57;
}

/* line 466, ../scss/_editor.sass */
.face .icon {
  display: none;
}

/* line 469, ../scss/_editor.sass */
.albumTitle {
  width: 100%;
  display: block;
  color: white;
  margin-top: 3px;
}

/* line 475, ../scss/_editor.sass */
.albumContainer {
  height: 135px;
  overflow: hidden;
  border: 2px solid white;
  box-sizing: border-box;
  -webkit-transition: border, 200ms;
  -moz-transition: border, 200ms;
  -transition: border, 200ms;
}
/* line 481, ../scss/_editor.sass */
.albumContainer:hover {
  border: 4px solid #daaa57;
  cursor: pointer;
}
/* line 484, ../scss/_editor.sass */
.albumContainer img {
  width: 100%;
}

/* line 488, ../scss/_editor.sass */
.tabs a {
  margin: 0;
  width: 30%;
  float: left;
  background-color: #a9a79f;
  padding: 25px 5px;
  text-align: center;
}
/* line 495, ../scss/_editor.sass */
.tabs a:hover {
  color: white;
  cursor: pointer;
}
/* line 498, ../scss/_editor.sass */
.tabs dd {
  padding: 0;
  margin: 0;
}

/* line 502, ../scss/_editor.sass */
.backToAlbums {
  width: auto;
  z-index: 11;
  background-color: black;
  display: block;
  text-align: left;
  margin: 0 0 15px 20px;
  color: white;
}
/* line 510, ../scss/_editor.sass */
.backToAlbums:hover {
  cursor: pointer;
}

/* line 515, ../scss/_editor.sass */
.steps .active h1, .steps .active h2, .steps .active h3, .steps .active h4 {
  color: #dbaa5a;
}

/* line 518, ../scss/_editor.sass */
.workSpace {
  position: relative;
  display: block;
  margin-bottom: 60px;
  background: none;
}

/* line 528, ../scss/_editor.sass */
.sidebar .divider img {
  display: block;
  margin: 45px auto;
}

/* line 533, ../scss/_editor.sass */
.input-method .icon {
  width: 73px;
  height: 73px;
  margin: 0 auto;
}
/* line 537, ../scss/_editor.sass */
.input-method h2 {
  font-size: 2.1em;
  width: 100%;
  text-align: center;
  color: #b3b3b3;
  margin: 20px 0 0 0;
}

/* line 543, ../scss/_editor.sass */
.webcam-input {
  margin-top: 100px;
}
/* line 545, ../scss/_editor.sass */
.webcam-input .icon {
  background-image: url("../images/icon-sprite.png");
}
/* line 547, ../scss/_editor.sass */
.webcam-input:hover {
  cursor: pointer;
}
/* line 549, ../scss/_editor.sass */
.webcam-input:hover .icon {
  background-position: -73px 0;
}
/* line 551, ../scss/_editor.sass */
.webcam-input:hover h2 {
  color: #8f7349;
}

/* line 555, ../scss/_editor.sass */
.facebook-input .icon {
  background-image: url("../images/icon-sprite.png");
  background-position: 0 -73px;
}
/* line 558, ../scss/_editor.sass */
.facebook-input:hover {
  cursor: pointer;
}
/* line 560, ../scss/_editor.sass */
.facebook-input:hover .icon {
  background-position: -73px -73px;
}
/* line 562, ../scss/_editor.sass */
.facebook-input:hover h2 {
  color: #8f7349;
}

/* line 2, ../scss/_layout.sass */
.panel {
  padding: 5px 25px 5px 0px;
}

/* line 5, ../scss/_layout.sass */
.error-modal-box {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99999;
  display: none;
}
/* line 12, ../scss/_layout.sass */
.error-modal-box .modal-contain {
  margin: 0 auto;
  width: 550px;
}
/* line 15, ../scss/_layout.sass */
.error-modal-box .error-modal {
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
  position: relative;
  top: -2px;
}
/* line 21, ../scss/_layout.sass */
.error-modal-box .close-error {
  float: right;
  font-weight: bold;
  margin-right: 5px;
}
/* line 25, ../scss/_layout.sass */
.error-modal-box .close-error:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* line 28, ../scss/_layout.sass */
.editorNav {
  position: relative;
  top: -15px;
}

/* line 33, ../scss/_layout.sass */
.imageListing {
  width: 100%;
  content: "";
  display: table;
  clear: both;
}
/* line 38, ../scss/_layout.sass */
.imageListing li {
  float: left;
  display: inline;
  margin: 0 0 1.5em 0.95em;
  min-height: 200px;
}
/* line 44, ../scss/_layout.sass */
.imageListing li:first-child {
  margin: 0;
}
/* line 46, ../scss/_layout.sass */
.imageListing img {
  width: 100%;
}

/* line 50, ../scss/_layout.sass */
.imageListing.grid-2 li {
  width: 49.5%;
}
/* line 52, ../scss/_layout.sass */
.imageListing.grid-2 li:nth-child(2n+3) {
  margin-left: 0;
}

/* line 55, ../scss/_layout.sass */
.imageListing.grid-3 li {
  width: 32.1%;
}
/* line 57, ../scss/_layout.sass */
.imageListing.grid-3 li:nth-child(3n+4) {
  margin-left: 0;
}

/* line 60, ../scss/_layout.sass */
.imageListing.grid-4 li {
  width: 24.2%;
}
/* line 62, ../scss/_layout.sass */
.imageListing.grid-4 li:nth-child(4n+5) {
  margin-left: 0;
}

/* line 65, ../scss/_layout.sass */
.imageListing.grid-5 li {
  width: 19.2%;
}
/* line 67, ../scss/_layout.sass */
.imageListing.grid-5 li:nth-child(5n+6) {
  margin-left: 0;
}

/* line 72, ../scss/_layout.sass */
.loginCheck header img.center {
  margin: 0 !important;
  float: left;
}
/* line 75, ../scss/_layout.sass */
.loginCheck .fbStatus {
  padding: 15px 20px;
}
/* line 77, ../scss/_layout.sass */
.loginCheck .fbStatus span {
  font-weight: bold;
}
/* line 79, ../scss/_layout.sass */
.loginCheck .fbStatus a {
  margin-left: 15px;
  color: #dbdbdb;
  text-decoration: none;
  border-bottom: 1px dotted #dbdbdb;
  padding-bottom: 0;
  -webkit-transition: color, 300ms;
  -moz-transition: color, 300ms;
  -transition: color, 300ms;
}
/* line 86, ../scss/_layout.sass */
.loginCheck .fbStatus a:hover {
  color: white;
}

/* line 89, ../scss/_layout.sass */
.fbStatus {
  float: right;
  display: none;
}

@-webkit-keyframes-move {
  /* line 2, ../scss/_animation.sass */
  from {
    top: 0;
    left: 0;
  }

  /* line 5, ../scss/_animation.sass */
  to {
    top: 100px;
    left: 100px;
  }
}

@-webkit-keyframes grain {
  /* line 41, ../scss/_animation.sass */
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 45, ../scss/_animation.sass */
  10% {
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }

  /* line 49, ../scss/_animation.sass */
  20% {
    -webkit-transform: translate(-15%, 5%);
    -moz-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }

  /* line 53, ../scss/_animation.sass */
  30% {
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }

  /* line 57, ../scss/_animation.sass */
  40% {
    -webkit-transform: translate(21%, 25%);
    -moz-transform: translate(21%, 25%);
    transform: translate(21%, 25%);
  }

  /* line 61, ../scss/_animation.sass */
  50% {
    -webkit-transform: translate(-25%, 10%);
    -moz-transform: translate(-25%, 10%);
    transform: translate(-25%, 10%);
  }

  /* line 65, ../scss/_animation.sass */
  60% {
    -webkit-transform: translate(15%, 0%);
    -moz-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }

  /* line 69, ../scss/_animation.sass */
  70% {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  /* line 73, ../scss/_animation.sass */
  80% {
    -webkit-transform: translate(25%, 35%);
    -moz-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  /* line 77, ../scss/_animation.sass */
  90% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}

@-moz-keyframes grain {
  /* line 41, ../scss/_animation.sass */
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 45, ../scss/_animation.sass */
  10% {
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }

  /* line 49, ../scss/_animation.sass */
  20% {
    -webkit-transform: translate(-15%, 5%);
    -moz-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }

  /* line 53, ../scss/_animation.sass */
  30% {
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }

  /* line 57, ../scss/_animation.sass */
  40% {
    -webkit-transform: translate(21%, 25%);
    -moz-transform: translate(21%, 25%);
    transform: translate(21%, 25%);
  }

  /* line 61, ../scss/_animation.sass */
  50% {
    -webkit-transform: translate(-25%, 10%);
    -moz-transform: translate(-25%, 10%);
    transform: translate(-25%, 10%);
  }

  /* line 65, ../scss/_animation.sass */
  60% {
    -webkit-transform: translate(15%, 0%);
    -moz-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }

  /* line 69, ../scss/_animation.sass */
  70% {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  /* line 73, ../scss/_animation.sass */
  80% {
    -webkit-transform: translate(25%, 35%);
    -moz-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  /* line 77, ../scss/_animation.sass */
  90% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}

@-ms-keyframes grain {
  /* line 41, ../scss/_animation.sass */
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 45, ../scss/_animation.sass */
  10% {
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }

  /* line 49, ../scss/_animation.sass */
  20% {
    -webkit-transform: translate(-15%, 5%);
    -moz-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }

  /* line 53, ../scss/_animation.sass */
  30% {
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }

  /* line 57, ../scss/_animation.sass */
  40% {
    -webkit-transform: translate(21%, 25%);
    -moz-transform: translate(21%, 25%);
    transform: translate(21%, 25%);
  }

  /* line 61, ../scss/_animation.sass */
  50% {
    -webkit-transform: translate(-25%, 10%);
    -moz-transform: translate(-25%, 10%);
    transform: translate(-25%, 10%);
  }

  /* line 65, ../scss/_animation.sass */
  60% {
    -webkit-transform: translate(15%, 0%);
    -moz-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }

  /* line 69, ../scss/_animation.sass */
  70% {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  /* line 73, ../scss/_animation.sass */
  80% {
    -webkit-transform: translate(25%, 35%);
    -moz-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  /* line 77, ../scss/_animation.sass */
  90% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}

@keyframes grain {
  /* line 41, ../scss/_animation.sass */
  0%, 100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* line 45, ../scss/_animation.sass */
  10% {
    -webkit-transform: translate(-5%, -10%);
    -moz-transform: translate(-5%, -10%);
    transform: translate(-5%, -10%);
  }

  /* line 49, ../scss/_animation.sass */
  20% {
    -webkit-transform: translate(-15%, 5%);
    -moz-transform: translate(-15%, 5%);
    transform: translate(-15%, 5%);
  }

  /* line 53, ../scss/_animation.sass */
  30% {
    -webkit-transform: translate(7%, -25%);
    -moz-transform: translate(7%, -25%);
    transform: translate(7%, -25%);
  }

  /* line 57, ../scss/_animation.sass */
  40% {
    -webkit-transform: translate(21%, 25%);
    -moz-transform: translate(21%, 25%);
    transform: translate(21%, 25%);
  }

  /* line 61, ../scss/_animation.sass */
  50% {
    -webkit-transform: translate(-25%, 10%);
    -moz-transform: translate(-25%, 10%);
    transform: translate(-25%, 10%);
  }

  /* line 65, ../scss/_animation.sass */
  60% {
    -webkit-transform: translate(15%, 0%);
    -moz-transform: translate(15%, 0%);
    transform: translate(15%, 0%);
  }

  /* line 69, ../scss/_animation.sass */
  70% {
    -webkit-transform: translate(0%, 15%);
    -moz-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  /* line 73, ../scss/_animation.sass */
  80% {
    -webkit-transform: translate(25%, 35%);
    -moz-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  /* line 77, ../scss/_animation.sass */
  90% {
    -webkit-transform: translate(-10%, 10%);
    -moz-transform: translate(-10%, 10%);
    transform: translate(-10%, 10%);
  }
}

/* line 1, ../scss/_posters.sass */
.face {
  -webkit-transition: outline, 300ms;
  -moz-transition: outline, 300ms;
  -transition: outline, 300ms;
  position: absolute;
  z-index: 11;
  opacity: 1;
}
/* line 6, ../scss/_posters.sass */
.face:hover {
  cursor: pointer;
}
/* line 8, ../scss/_posters.sass */
.face .icon {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

/* line 15, ../scss/_posters.sass */
.canvas #facehere {
  position: absolute;
  left: 0px;
  top: 20%;
  z-index: 10;
  width: 100%;
}

/* line 22, ../scss/_posters.sass */
.hotspot-container {
  width: 140px;
  height: 190px;
  position: absolute;
  z-index: 99;
}

/* line 28, ../scss/_posters.sass */
.title-editor, .cast-editor {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}

/* line 39, ../scss/_posters.sass */
.cast-editor input {
  margin-bottom: 25px;
}

/* line 42, ../scss/_posters.sass */
.edit-buttons {
  width: 630px;
  margin: 0 auto;
  position: relative;
  top: 17%;
}
/* line 48, ../scss/_posters.sass */
.edit-buttons .secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* line 50, ../scss/_posters.sass */
.edit-box {
  width: 730px;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  outline: 1px solid white;
  position: relative;
  top: 15%;
  padding: 25px;
}
/* line 58, ../scss/_posters.sass */
.edit-box h2 {
  font-size: 2.3em;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 10px;
}
/* line 63, ../scss/_posters.sass */
.edit-box input {
  border: 0;
  background: none;
  color: white;
  width: 97%;
  font-size: 6em;
  padding: 25px 10px 5px 10px;
  font-family: AndoSemibold;
  outline: none;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4);
}

/* line 74, ../scss/_posters.sass */
#test-dest {
  background-color: white;
}

/* line 79, ../scss/_posters.sass */
.film-noir .face-canvas {
  width: 220px;
  height: 250px;
  position: absolute;
}
/* line 84, ../scss/_posters.sass */
.film-noir .title {
  font-family: "Blackcat";
  font-size: 5.9em;
  color: #d24544;
  text-shadow: 0 7px 0 rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 11;
  width: 550px !important;
  overflow: hidden;
  text-align: center;
  left: 12.2%;
  top: 6.5%;
  letter-spacing: -1px;
}
/* line 97, ../scss/_posters.sass */
.film-noir .title span {
  display: block;
  margin: 0 auto;
}
/* line 100, ../scss/_posters.sass */
.film-noir .title-hotspot, .film-noir .cast-hotspot {
  position: absolute;
  z-index: 13;
  left: 12.8%;
  top: 6.5%;
  width: 530px;
  height: 100px;
  padding: 5px;
  border: 1px dashed #d2d2d2;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
}
/* line 111, ../scss/_posters.sass */
.film-noir .title-hotspot:hover, .film-noir .cast-hotspot:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
/* line 115, ../scss/_posters.sass */
.film-noir .cast {
  position: absolute;
  bottom: 120px;
  z-index: 11;
  font-size: 1.8em;
}
/* line 120, ../scss/_posters.sass */
.film-noir .cast .first-name {
  font-family: "Almibar";
  display: block;
  line-height: 0.5em;
}
/* line 124, ../scss/_posters.sass */
.film-noir .cast .last-name {
  font-family: "DirectorsGothic201-Medium";
  text-transform: uppercase;
  font-size: 2em;
}
/* line 129, ../scss/_posters.sass */
.film-noir .cast-1 {
  left: 130px;
  width: 140px;
}
/* line 132, ../scss/_posters.sass */
.film-noir .cast-hotspot {
  top: auto;
  bottom: 130px;
  height: 65px;
  width: 140px;
}
/* line 137, ../scss/_posters.sass */
.film-noir .cast1.cast-hotspot {
  left: 122px;
}
/* line 139, ../scss/_posters.sass */
.film-noir .cast-2 {
  left: 295px;
  width: 140px;
}
/* line 142, ../scss/_posters.sass */
.film-noir .cast2.cast-hotspot {
  left: 285px;
}
/* line 144, ../scss/_posters.sass */
.film-noir .cast-3 {
  left: 460px;
  width: 140px;
}
/* line 147, ../scss/_posters.sass */
.film-noir .cast3.cast-hotspot {
  left: 445px;
}
/* line 149, ../scss/_posters.sass */
.film-noir .hotspot {
  z-index: 99;
  width: 100%;
  height: 100%;
}
/* line 153, ../scss/_posters.sass */
.film-noir #hotspot1 {
  top: 238px;
  left: 165px;
}
/* line 156, ../scss/_posters.sass */
.film-noir #hotspot2 {
  top: 177px;
  left: 340px;
}
/* line 160, ../scss/_posters.sass */
.film-noir #canvas1 {
  top: 268px;
  left: 130px;
}
/* line 163, ../scss/_posters.sass */
.film-noir #canvas2 {
  top: 181px;
  left: 347px;
}
/* line 167, ../scss/_posters.sass */
.film-noir .icon {
  background-color: #cd403e;
}
/* line 170, ../scss/_posters.sass */
.film-noir #face1 {
  top: 268px;
  left: 180px;
}
/* line 173, ../scss/_posters.sass */
.film-noir #face2-canvas {
  position: absolute;
  width: 140px;
  height: 200px;
  top: 181px;
  left: 347px;
}
/* line 179, ../scss/_posters.sass */
.film-noir #face2 {
  top: 181px;
  left: 348px;
}

/* line 186, ../scss/_posters.sass */
.tuscan .face-canvas {
  width: 206px;
  height: 300px;
  position: absolute;
}
/* line 190, ../scss/_posters.sass */
.tuscan .hotspot-container {
  width: 206px;
  height: 300px;
}
/* line 193, ../scss/_posters.sass */
.tuscan .title {
  font-family: "Marvin";
  font-size: 6.2em;
  color: #3ea500;
  text-shadow: 4px 5px 0 rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 11;
  width: 550px !important;
  text-align: center;
  left: 12.2%;
  top: 63.5%;
  letter-spacing: -1px;
}
/* line 205, ../scss/_posters.sass */
.tuscan .title span {
  display: block;
  margin: 0 auto;
}
/* line 208, ../scss/_posters.sass */
.tuscan .title-hotspot, .tuscan .cast-hotspot {
  position: absolute;
  z-index: 13;
  left: 18.3%;
  top: 66.5%;
  width: 450px;
  height: 100px;
  padding: 5px;
  border: 1px dashed #d2d2d2;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
}
/* line 219, ../scss/_posters.sass */
.tuscan .title-hotspot:hover, .tuscan .cast-hotspot:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
/* line 223, ../scss/_posters.sass */
.tuscan .cast {
  position: absolute;
  top: 30px;
  z-index: 11;
  font-size: 0.9em;
  color: #422f06;
  text-align: center;
}
/* line 230, ../scss/_posters.sass */
.tuscan .cast .first-name {
  font-family: "Marvin";
  display: block;
  line-height: 0.5em;
}
/* line 234, ../scss/_posters.sass */
.tuscan .cast .last-name {
  font-family: "Marvin";
  text-transform: uppercase;
  font-size: 2em;
}
/* line 239, ../scss/_posters.sass */
.tuscan .cast-1 {
  left: 90px;
}
/* line 241, ../scss/_posters.sass */
.tuscan .cast-hotspot {
  top: auto;
  top: 12px;
  height: 55px;
  width: 170px;
}
/* line 246, ../scss/_posters.sass */
.tuscan .cast1.cast-hotspot {
  left: 70px;
}
/* line 248, ../scss/_posters.sass */
.tuscan .cast-2 {
  left: 295px;
}
/* line 250, ../scss/_posters.sass */
.tuscan .cast2.cast-hotspot {
  left: 270px;
}
/* line 252, ../scss/_posters.sass */
.tuscan .cast-3 {
  left: 500px;
}
/* line 254, ../scss/_posters.sass */
.tuscan .cast3.cast-hotspot {
  left: 475px;
}
/* line 256, ../scss/_posters.sass */
.tuscan .hotspot {
  z-index: 99;
  width: 100%;
  height: 100%;
}
/* line 260, ../scss/_posters.sass */
.tuscan #hotspot1 {
  top: 201px;
  left: 269px;
}
/* line 263, ../scss/_posters.sass */
.tuscan #hotspot2 {
  top: 177px;
  left: 340px;
}
/* line 267, ../scss/_posters.sass */
.tuscan #canvas1 {
  top: 201px;
  left: 269px;
}
/* line 270, ../scss/_posters.sass */
.tuscan #canvas2 {
  top: 181px;
  left: 347px;
}
/* line 274, ../scss/_posters.sass */
.tuscan .icon {
  background-color: #cd403e;
}
/* line 277, ../scss/_posters.sass */
.tuscan #face1 {
  top: 281px;
  left: 281px;
}

/* line 283, ../scss/_posters.sass */
.empire .face-canvas {
  width: 206px;
  height: 300px;
  position: absolute;
}
/* line 287, ../scss/_posters.sass */
.empire .hotspot-container {
  width: 206px;
  height: 300px;
}
/* line 290, ../scss/_posters.sass */
.empire .title {
  font-family: "ClassicRoman";
  text-transform: uppercase;
  font-size: 6.8em;
  color: #c72d23;
  position: absolute;
  z-index: 11;
  width: 550px !important;
  text-align: center;
  left: 12.2%;
  top: 2.8%;
  letter-spacing: -1px;
}
/* line 302, ../scss/_posters.sass */
.empire .title span {
  display: block;
  margin: 0 auto;
}
/* line 305, ../scss/_posters.sass */
.empire .title-hotspot, .empire .cast-hotspot {
  position: absolute;
  z-index: 13;
  left: 11.3%;
  top: 2.8%;
  width: 550px;
  height: 100px;
  padding: 5px;
  border: 1px dashed #d2d2d2;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
}
/* line 316, ../scss/_posters.sass */
.empire .title-hotspot:hover, .empire .cast-hotspot:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
/* line 320, ../scss/_posters.sass */
.empire .cast {
  position: absolute;
  top: 30px;
  z-index: 11;
  font-size: 0.9em;
  color: #422f06;
  text-align: center;
}
/* line 327, ../scss/_posters.sass */
.empire .cast .first-name {
  font-family: "Marvin";
  display: block;
  line-height: 0.5em;
}
/* line 331, ../scss/_posters.sass */
.empire .cast .last-name {
  font-family: "Marvin";
  text-transform: uppercase;
  font-size: 2em;
}
/* line 336, ../scss/_posters.sass */
.empire .cast-1 {
  left: 90px;
}
/* line 338, ../scss/_posters.sass */
.empire .cast-hotspot {
  top: auto;
  top: 12px;
  height: 55px;
  width: 170px;
}
/* line 343, ../scss/_posters.sass */
.empire .cast1.cast-hotspot {
  left: 70px;
}
/* line 345, ../scss/_posters.sass */
.empire .cast-2 {
  left: 295px;
}
/* line 347, ../scss/_posters.sass */
.empire .cast2.cast-hotspot {
  left: 270px;
}
/* line 349, ../scss/_posters.sass */
.empire .cast-3 {
  left: 500px;
}
/* line 351, ../scss/_posters.sass */
.empire .cast3.cast-hotspot {
  left: 475px;
}
/* line 353, ../scss/_posters.sass */
.empire .hotspot {
  z-index: 99;
  width: 100%;
  height: 100%;
}
/* line 357, ../scss/_posters.sass */
.empire #hotspot1 {
  top: 223px;
  left: 99px;
  width: 150px;
  height: 150px;
}
/* line 362, ../scss/_posters.sass */
.empire #hotspot2 {
  top: 131px;
  left: 263px;
}
/* line 365, ../scss/_posters.sass */
.empire #hotspot3 {
  top: 191px;
  left: 483px;
  width: 130px;
  height: 170px;
}
/* line 371, ../scss/_posters.sass */
.empire #canvas1 {
  top: 223px;
  left: 98px;
  width: 150px;
  height: 150px;
}
/* line 376, ../scss/_posters.sass */
.empire #canvas2 {
  top: 141px;
  left: 284px;
  width: 170px;
  height: 300px;
}
/* line 381, ../scss/_posters.sass */
.empire #canvas3 {
  top: 190px;
  left: 475px;
  width: 150px;
  height: 170px;
}
/* line 387, ../scss/_posters.sass */
.empire .icon {
  background-color: #cd403e;
}
/* line 389, ../scss/_posters.sass */
.empire #face1 {
  top: 233px;
  left: 124px;
}
/* line 392, ../scss/_posters.sass */
.empire #face2 {
  top: 140px;
  left: 288px;
}
/* line 395, ../scss/_posters.sass */
.empire #face3 {
  top: 190px;
  left: 496px;
}

/* line 401, ../scss/_posters.sass */
.fantasy .face-canvas {
  width: 206px;
  height: 300px;
  position: absolute;
}
/* line 405, ../scss/_posters.sass */
.fantasy .hotspot-container {
  width: 206px;
  height: 300px;
}
/* line 408, ../scss/_posters.sass */
.fantasy .title {
  font-family: "CelticMN-Bold";
  font-size: 5.1em;
  color: #f2d779;
  position: absolute;
  text-shadow: 0 4px 0 #191919;
  z-index: 11;
  width: 550px !important;
  text-align: center;
  left: 12.2%;
  bottom: 12.8%;
  letter-spacing: -1px;
}
/* line 420, ../scss/_posters.sass */
.fantasy .title span {
  display: block;
  margin: 0 auto;
}
/* line 423, ../scss/_posters.sass */
.fantasy .title-hotspot, .fantasy .cast-hotspot {
  position: absolute;
  z-index: 13;
  left: 11.3%;
  bottom: 12.2%;
  width: 550px;
  height: 100px;
  padding: 5px;
  border: 1px dashed #d2d2d2;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
}
/* line 434, ../scss/_posters.sass */
.fantasy .title-hotspot:hover, .fantasy .cast-hotspot:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
/* line 438, ../scss/_posters.sass */
.fantasy .cast {
  position: absolute;
  top: 30px;
  z-index: 11;
  font-size: 0.9em;
  color: #422f06;
  text-align: center;
}
/* line 445, ../scss/_posters.sass */
.fantasy .cast .first-name {
  font-family: "Marvin";
  display: block;
  line-height: 0.5em;
}
/* line 449, ../scss/_posters.sass */
.fantasy .cast .last-name {
  font-family: "Marvin";
  text-transform: uppercase;
  font-size: 2em;
}
/* line 454, ../scss/_posters.sass */
.fantasy .cast-1 {
  left: 90px;
}
/* line 456, ../scss/_posters.sass */
.fantasy .cast-hotspot {
  top: auto;
  top: 12px;
  height: 55px;
  width: 170px;
}
/* line 461, ../scss/_posters.sass */
.fantasy .cast1.cast-hotspot {
  left: 70px;
}
/* line 463, ../scss/_posters.sass */
.fantasy .cast-2 {
  left: 295px;
}
/* line 465, ../scss/_posters.sass */
.fantasy .cast2.cast-hotspot {
  left: 270px;
}
/* line 467, ../scss/_posters.sass */
.fantasy .cast-3 {
  left: 500px;
}
/* line 469, ../scss/_posters.sass */
.fantasy .cast3.cast-hotspot {
  left: 475px;
}
/* line 471, ../scss/_posters.sass */
.fantasy .hotspot {
  z-index: 99;
  width: 100%;
  height: 100%;
}
/* line 475, ../scss/_posters.sass */
.fantasy #hotspot1 {
  top: 223px;
  left: 70px;
  width: 150px;
  height: 150px;
}
/* line 480, ../scss/_posters.sass */
.fantasy #hotspot2 {
  top: 251px;
  left: 254px;
  width: 210px;
  height: 300px;
}
/* line 485, ../scss/_posters.sass */
.fantasy #hotspot3 {
  top: 190px;
  left: 473px;
  width: 140px;
  height: 200px;
}
/* line 491, ../scss/_posters.sass */
.fantasy #canvas1 {
  top: 220px;
  left: 65px;
  width: 160px;
  height: 160px;
}
/* line 496, ../scss/_posters.sass */
.fantasy #canvas2 {
  top: 251px;
  left: 255px;
  width: 210px;
  height: 300px;
}
/* line 501, ../scss/_posters.sass */
.fantasy #canvas3 {
  top: 195px;
  left: 475px;
  width: 150px;
  height: 190px;
}
/* line 507, ../scss/_posters.sass */
.fantasy .icon {
  background-color: #cd403e;
}
/* line 509, ../scss/_posters.sass */
.fantasy #face1 {
  top: 223px;
  left: 85px;
}
/* line 512, ../scss/_posters.sass */
.fantasy #face2 {
  top: 280px;
  left: 263px;
}
/* line 515, ../scss/_posters.sass */
.fantasy #face3 {
  top: 200px;
  left: 483px;
}

/* line 521, ../scss/_posters.sass */
.romance .face-canvas {
  width: 206px;
  height: 300px;
  position: absolute;
}
/* line 525, ../scss/_posters.sass */
.romance .hotspot-container {
  width: 206px;
  height: 300px;
}
/* line 528, ../scss/_posters.sass */
.romance .title {
  font-family: "Gin-Regular";
  font-size: 9em;
  line-height: 1em;
  color: #c84840;
  position: absolute;
  text-shadow: 0 4px 0 rgba(0, 0, 0, 0.5);
  z-index: 11;
  width: 510px !important;
  text-align: left;
  left: 12.2%;
  bottom: 12.8%;
  letter-spacing: -1px;
}
/* line 541, ../scss/_posters.sass */
.romance .title span {
  display: block;
  margin: 0 auto;
}
/* line 544, ../scss/_posters.sass */
.romance .title-hotspot, .romance .cast-hotspot {
  position: absolute;
  z-index: 13;
  left: 11.3%;
  bottom: 12.2%;
  width: 390px;
  height: 250px;
  padding: 5px;
  border: 1px dashed #d2d2d2;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
}
/* line 555, ../scss/_posters.sass */
.romance .title-hotspot:hover, .romance .cast-hotspot:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
/* line 559, ../scss/_posters.sass */
.romance .cast {
  position: absolute;
  top: 30px;
  z-index: 11;
  font-size: 2em;
  color: #c84840;
  text-align: left;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}
/* line 567, ../scss/_posters.sass */
.romance .cast .first-name {
  font-family: "Gin-Regular";
  line-height: 0.5em;
}
/* line 570, ../scss/_posters.sass */
.romance .cast .last-name {
  font-family: "Gin-Regular";
  text-transform: uppercase;
}
/* line 574, ../scss/_posters.sass */
.romance .cast-1 {
  left: 110px;
}
/* line 576, ../scss/_posters.sass */
.romance .cast-hotspot {
  top: auto;
  top: 25px;
  height: 35px;
  width: 210px;
}
/* line 581, ../scss/_posters.sass */
.romance .cast1.cast-hotspot {
  left: 85px;
}
/* line 583, ../scss/_posters.sass */
.romance .cast-2 {
  left: 415px;
}
/* line 585, ../scss/_posters.sass */
.romance .cast2.cast-hotspot {
  left: 400px;
}
/* line 587, ../scss/_posters.sass */
.romance .cast-3 {
  left: 500px;
}
/* line 589, ../scss/_posters.sass */
.romance .cast3.cast-hotspot {
  left: 475px;
}
/* line 591, ../scss/_posters.sass */
.romance .hotspot {
  z-index: 99;
  width: 100%;
  height: 100%;
}
/* line 595, ../scss/_posters.sass */
.romance #hotspot1 {
  top: 122px;
  left: 90px;
  width: 300px;
  height: 300px;
}
/* line 600, ../scss/_posters.sass */
.romance #hotspot2 {
  top: 92px;
  left: 460px;
  width: 100px;
  height: 100px;
}
/* line 606, ../scss/_posters.sass */
.romance #canvas1 {
  top: 60px;
  left: 100px;
  width: 300px;
  height: 390px;
}
/* line 611, ../scss/_posters.sass */
.romance #canvas2 {
  top: 81px;
  left: 460px;
  width: 100px;
  height: 100px;
}
/* line 617, ../scss/_posters.sass */
.romance .icon {
  background-color: #cd403e;
}
/* line 619, ../scss/_posters.sass */
.romance #face1 {
  top: 72px;
  left: 120px;
}
/* line 622, ../scss/_posters.sass */
.romance #face2 {
  top: 82px;
  left: 480px;
}

/* line 629, ../scss/_posters.sass */
.romcom .face-canvas {
  width: 206px;
  height: 300px;
  position: absolute;
}
/* line 633, ../scss/_posters.sass */
.romcom .hotspot-container {
  width: 206px;
  height: 300px;
}
/* line 636, ../scss/_posters.sass */
.romcom .title {
  font-family: "CCThingamajig";
  text-transform: uppercase;
  font-size: 5.6em;
  line-height: 1em;
  color: #ce503e;
  position: absolute;
  z-index: 11;
  width: 350px !important;
  text-align: left;
  left: 10.2%;
  bottom: 14.6%;
  letter-spacing: -1px;
}
/* line 649, ../scss/_posters.sass */
.romcom .title span {
  display: block;
  margin: 0 auto;
}
/* line 652, ../scss/_posters.sass */
.romcom .title-hotspot, .romcom .cast-hotspot {
  position: absolute;
  z-index: 13;
  left: 9%;
  bottom: 14.8%;
  width: 350px;
  height: 150px;
  padding: 5px;
  border: 1px dashed #d2d2d2;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color, 300ms;
  -moz-transition: background-color, 300ms;
  -transition: background-color, 300ms;
}
/* line 663, ../scss/_posters.sass */
.romcom .title-hotspot:hover, .romcom .cast-hotspot:hover {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}
/* line 667, ../scss/_posters.sass */
.romcom .cast {
  position: absolute;
  bottom: 12%;
  text-transform: uppercase;
  z-index: 11;
  font-size: 0.87em;
  color: #ce503e;
  text-align: left;
}
/* line 675, ../scss/_posters.sass */
.romcom .cast .first-name {
  font-family: "CCThingamajig";
  line-height: 0.5em;
}
/* line 678, ../scss/_posters.sass */
.romcom .cast .last-name {
  font-family: "CCThingamajig";
  text-transform: uppercase;
}
/* line 682, ../scss/_posters.sass */
.romcom .cast-1 {
  left: 70px;
}
/* line 684, ../scss/_posters.sass */
.romcom .cast-hotspot {
  top: auto;
  bottom: 11.5%;
  height: 15px;
  width: 105px;
}
/* line 689, ../scss/_posters.sass */
.romcom .cast1.cast-hotspot {
  left: 60px;
}
/* line 691, ../scss/_posters.sass */
.romcom .cast-2 {
  left: 187px;
}
/* line 693, ../scss/_posters.sass */
.romcom .cast2.cast-hotspot {
  left: 182px;
}
/* line 695, ../scss/_posters.sass */
.romcom .cast-3 {
  left: 320px;
}
/* line 697, ../scss/_posters.sass */
.romcom .cast3.cast-hotspot {
  left: 305px;
}
/* line 699, ../scss/_posters.sass */
.romcom .hotspot {
  z-index: 99;
  width: 100%;
  height: 100%;
}
/* line 703, ../scss/_posters.sass */
.romcom #hotspot1 {
  top: 102px;
  left: 80px;
  width: 150px;
  height: 200px;
}
/* line 708, ../scss/_posters.sass */
.romcom #hotspot2 {
  top: 102px;
  left: 240px;
  width: 150px;
  height: 200px;
}
/* line 713, ../scss/_posters.sass */
.romcom #hotspot3 {
  top: 353px;
  left: 458px;
  width: 60px;
  height: 80px;
}
/* line 719, ../scss/_posters.sass */
.romcom #canvas1 {
  top: 99px;
  left: 80px;
  width: 150px;
  height: 200px;
}
/* line 724, ../scss/_posters.sass */
.romcom #canvas2 {
  top: 99px;
  left: 240px;
  width: 150px;
  height: 200px;
}
/* line 730, ../scss/_posters.sass */
.romcom #canvas3 {
  top: 353px;
  left: 463px;
  width: 50px;
  height: 80px;
}
/* line 736, ../scss/_posters.sass */
.romcom .icon {
  background-color: #cd403e;
}
/* line 738, ../scss/_posters.sass */
.romcom #face1 {
  top: 119px;
  left: 110px;
}
/* line 741, ../scss/_posters.sass */
.romcom #face2 {
  top: 116px;
  left: 264px;
}
/* line 744, ../scss/_posters.sass */
.romcom #face3 {
  top: 363px;
  left: 468px;
}

/* line 3, ../scss/style.sass */
body {
  background-image: url("../images/background.jpg");
  background-color: #454540;
  background-position: center top;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  padding: 0;
  margin: 0;
}

/* line 13, ../scss/style.sass */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 19, ../scss/style.sass */
.noise {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  pointer-events: none;
  opacity: 0.45;
  overflow: hidden;
}
/* line 29, ../scss/_animation.sass */
.noise:after {
  -webkit-animation: grain 6s steps(10) infinite;
  -moz-animation: grain 6s steps(10) infinite;
  -ms-animation: grain 6s steps(10) infinite;
  animation: grain 6s steps(10) infinite;
  background: url(http://cl.ly/image/2m2R0A3m1b3x/noise.png);
  content: "";
  display: block;
  height: 300%;
  left: -100%;
  position: absolute;
  top: -100%;
  width: 300%;
}

/* line 28, ../scss/style.sass */
.shine {
  opacity: 0.2 !important;
}

/* line 31, ../scss/style.sass */
.webcam-warning {
  float: left;
}




/* ---------------------------------------------------------------------------EVERYTHING ABOVE IS FROM JACKSON ----------------------------------------------------------------------------- */

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.clear {
	clear: both;
}

.gallery-poster
{
    width:234px;
    height:312px;   
    margin-bottom: 0px; 
    margin-top:17px;
}

.gallery-item
{
    margin-bottom: 25px;
    margin-right:9px;
    float:left;
    cursor:pointer;
}

.gallery-item-last
{
    margin-bottom: 25px;
    float:left;
    cursor:pointer;
}

#divPoster
{
    /*text-align:center;*/
    /*border:1px solid Red;
    width:100px;
    height:100px;
    position:fixed;*/
    
}

#simplemodal-container{
    top:20px !important;
    height:570px !important;
}

.inline-block
{
    /*float:left;*/
    display:inline-block;
}

.sliders
{
    /*float:left;*/
    display:inline-block;
    vertical-align:top;
    margin-top:193px;
    cursor:pointer;
}

.author
{
    font-size:12px;
}

.final-poster-frame .the-poster {
  position: relative;
  left: 23px !important;
  top: 95px;
}

.container p {
    font-weight: 100;
    font-size: 14px !important;
    line-height: 1.5;
}

.button.medium {
    font-size: 0.9em !important;
    /*height:42px;*/
    padding-left:0px !important;
    /*text-indent:-15px;*/
    height:19px;
}

#lnkGalleryFB
{
    font-size: 11px !important;
    height:15px;
    padding-left:0px !important;
    padding-top:12px;
}


.button.large {
    height:19px;
    padding-left:0px !important;
    font-size: 12px !important;
    padding-top: 13px;
    padding-bottom: 9px;
}

.description .title
{
    font-size:14px !important;
}

.sortOptions
{
    font-size:12px;
}

.sorter
{
    font-size:12px !important;
}

.sorter a
{
    padding-bottom:8px;
    padding-top:8px;
}

footer a:visited{
    color:#dbdbdb;
}

.button:before {
  margin-top: -20px;
}
/* line 19, ../scss/_buttons.sass */
.button:after {
  margin-top: -20px;
}

.button.medium:before{
  margin-top: -18px;
}
/* line 19, ../scss/_buttons.sass */
.button.medium:after {
  margin-top: -18px;
}

.button.barebones .icon {
  left: 10px;
  top: -4px;
}

.for-best-results{
    font-size:13px;
}

.footer-strong
{
    font-size:11px;
}

footer p
{
    font-size:11px !important;
}

.final-poster-frame
{
    height: 1050px !important;
}

.error-modal-box
{
    left: 0;
}