﻿body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.margin-right-40
{
    margin-right:40px;
}

.margin-bottom-20
{
    margin-bottom:20px;
}

.margin-top-20
{
    margin-top:20px;
}

.navbar
{
    position: relative !important;
    margin-bottom: 0px;
}

.nav
{
    margin-top: 40px;
}

.jumbotron
{
    min-height:350px;
}

.hello
{
    color:#999999;
}

.hello > a
{
    display: inline-block !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

/* menu
----------------------------------------------------------*/
ul#menu {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

    ul#menu li {
        display: inline;
        list-style: none;
        padding-left: 15px;
    }

        ul#menu li a {
            background: none;
            color: #999;
            text-decoration: none;
        }

        ul#menu li a:hover {
            color: #333;
            text-decoration: none;
        }