﻿
@{
    Layout = "~/Views/Shared/_LayoutPoster.cshtml";
}

<div class="flash"></div>
<div class="title-editor">
    <div class="edit-box">
        <h2>Edit Text</h2>
        <span class="charRemaining"></span>
        <input type="text" id="text-editor-input" value="" autocomplete="off">
    </div>
    <div class="edit-buttons">
        <div class="row">
            <div class="col-6">
                <a class="button large secondary cancel-title">Cancel</a>
            </div>
            <div class="col-6">
                <a class="button large primary update-title">Update Title</a>
            </div>
        </div>
    </div>
</div>
<div class="cast-editor">
    <div class="edit-box">
        <h2>First Name</h2>
        <span class="firstRemaining"></span>
        <input type="text" id="first-name-input" value="" autocomplete="off">
        <h2>Last Name</h2>
        <span class="lastRemaining"></span>
        <input type="text" id="last-name-input" value="" autocomplete="off">
    </div>
    <div class="edit-buttons">
        <div class="row">
            <div class="col-6">
                <a class="button large secondary cancel-cast">Cancel</a>
            </div>
            <div class="col-6">
                <a class="button large primary update-cast">Update Name</a>
            </div>
        </div>
    </div>
</div>
<div class="abandon-container">
    <div class="abandon">
        <h4>Abandon your masterpiece?</h4>
        <p>Are you sure you want to deprive the world of this cinematic masterpiece? All changes will be lost.</p>
        <div class="row">
            <div class="col-6">
                <a class="button large secondary barebones close-abandon">Cancel</a>
            </div>
            <div class="col-6">
                <a class="button large primary barebones" href="/inspiration">Ok</a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Terms")

<div class="image-lightbox">
    <div class="image-container">
        <img src="" alt="" id="final-image">
    </div>
</div>
<div class="loading">
    <div class="loadContain">
        <img src="@Url.Content("~/Images/loading.gif")" alt="" class="loading-spin">
        <!--<div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>-->
        <p class="loadingMessage">Fear and Loading in Las Vegas...</p>
    </div>
</div>
<div class="sidebar">
    <a class="closeSidebar"><img src="@Url.Content("~/Images/closeButton.png")" height="30" width="30" alt=""></a>
    <div class="row sidebarTop">
        <div class="large-12 columns">
            <a class="sidebar-back button">Back</a>
            <h2 class="sidebarTitle">Edit Face - <span class="currentSection">Insert an Image</span></h2>
        </div>
    </div>
    <div class="pickInput">
        <div class="input-method webcam-input">
            <div class="icon"></div>
            <h2>Take a Photo</h2>
        </div>
        <div class="divider">
            <img src="@Url.Content("~/Images/divider.png")" height="33" width="132" alt="">
        </div>
        <div class="input-method facebook-input">
            <div class="icon"></div>
            <h2>Choose from Facebook</h2>
        </div>
    </div>
    <div class="yourImages">
        <div class="row">
            <div class="large-12 columns">
                <div class="sidebarLoading">
                    <img src="@Url.Content("~/Images/loading.gif")" alt="" class="loading-spin">
                </div>
                <ul class="photoPicker"></ul>
            </div>
        </div>
    </div>
    <div class="row sidebarButtons">
        <div class="buttonContain">
            <div class="col-6">
                <a href="@Url.Action("Index","Gallery")" class="button large secondary">Cancel</a>
            </div>
            <div class="col-6">
                <a href="/editor.html" class="button large primary">
                    Save
                </a>
            </div>
        </div>
    </div>
</div>
<div class="blackOut"></div>
<div class="container">
    <div class="row">
        <header>
            <a href="/">
                <img src="@Url.Content("~/Images/logo.png")" height="79" width="208" alt="" class="center">
            </a>
            <div class="fbStatus">
                <p>Connected as <span class="myName"></span><a href="@Url.Action("Index", "Home")" class="logOut" onclick="facebookLogOut()">Log Out</a></p>
            </div>
        </header>
    </div>
    <div class="row editorNav">
        <div class="col-6">
            <a class="button large secondary backToInspiration">&#171; Back to Inspiration</a>
        </div>
        <div class="col-6">
            <a class="button large savePoster">Save and Continue &#187;</a>
        </div>
    </div>

    <div class="webcam-contain">
        <div class="takePhoto">
            <h2>Hit SPACE to take a photo</h2>
            <a href="#" class="button large secondary closeWebcam">Cancel</a>
            <span class="webcam-warning">Note: Chrome users may not see preview, but image will still be captured.</span>
        </div>
        <div class="webcam-wrap">
            <div id="webcam"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="panel">
                <div class="steps">
                    <div class="step">
                        <div class="heading">
                            <div class="first line"><h4>1</h4></div>
                            <div class="second line"><h1>Pick Inspiration</h1></div>
                        </div>
                    </div>
                    <div class="step active">
                        <div class="heading">
                            <div class="first line"><h4>2</h4></div>
                            <div class="second line"><h1>Design Your Poster</h1></div>
                        </div>
                        <p>Time to take our templates from 'who' to you. Add your own face. Add your friends. Then try some carefully crafted words to let the whole world know who you are.</p>
                        <p><strong class="for-best-results">For best results, try and use a photo that's well-lit, evenly-exposed, and front-on.</strong></p>
                        <p>Remember to ensure that your work is original and that you comply with our <a href="#" class="terms-of-use">terms of use</a>.</p>
                    </div>
                    <div class="step">
                        <div class="heading">
                            <div class="first line"><h4>3</h4></div>
                            <div class="second line"><h1>Save and Share</h1></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9 renderDump">

        </div>
    </div>
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-9 finalDump">

        </div>
    </div>

</div>

@section AddToHead
{
    <link href="@Url.Content("~/Content/jui.css")" rel="stylesheet">
}

@section Scripts
{
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/pointer-fill.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fb-ck.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/flexslider.js")"></script>

    <!-- Main App -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/app-ck.js")"></script>

    <!-- Editor Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="@Url.Content("~/Scripts/html2canvas.js")"></script>
    <script src="@Url.Content("~/Scripts/slider.js")"></script>
    <script src="@Url.Content("~/Scripts/caman.js")"></script>
    <script src="@Url.Content("~/Scripts/scriptcam.min.js")"></script>
    <script src="@Url.Content("~/Scripts/getImage.js")"></script>
    <script src="@Url.Content("~/Scripts/squishy.js")"></script>
    <script src="@Url.Content("~/Scripts/editor.js")"></script>
}

@RenderSection("scripts", required: false)