﻿
@{
    ViewBag.Title = "Save and Share";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flash"></div>
<div class="image-lightbox">
    <div class="image-container">
        <img src="" alt="" id="final-image">
    </div>
</div>
<div class="loading">
    <div class="loadContain">
        <img src="/images/loading.gif" alt="" class="loading-spin">
        <!--<div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>-->
        <p class="loadingMessage">Fear and Loading in Las Vegas...</p>
    </div>
</div> 
<div class="sidebar">
    <a class="closeSidebar"><img src="@Url.Content("~/Images/closeButton.png")" height="30" width="30" alt=""></a>
    <div class="row sidebarTop">
        <div class="large-12 columns">
            <a class="sidebar-back button">Back</a>
            <h2 class="sidebarTitle">Edit Face - <span class="currentSection">Insert an Image</span></h2>
        </div>
    </div>
    <div class="pickInput">
        <div class="input-method webcam-input">
            <div class="icon"></div>
            <h2>Take a Photo</h2>
        </div>
        <div class="divider">
            <img src="@Url.Content("~/Images/divider.png")" height="33" width="132" alt="">
        </div>
        <div class="input-method facebook-input">
            <div class="icon"></div>
            <h2>Choose from Facebook</h2>
        </div>
    </div>
    <div class="yourImages">
        <div class="row">
            <div class="large-12 columns">
                <div class="sidebarLoading">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                </div>
                <ul class="photoPicker"></ul>
            </div>
        </div>
    </div>
    <div class="row sidebarButtons">
        <div class="buttonContain">
            <div class="col-6">
                <a href="@Url.Action("Index", "Gallery")" class="button large secondary">Cancel</a>
            </div>
            <div class="col-6">
                <a href="/editor.html" class="button large primary">
                    Save
                </a>
            </div>
        </div>
    </div>
</div>
<div class="blackOut"></div>
<div class="container">
    <div class="row">
        <header>
            <a href="/">
                <img src="@Url.Content("~/Images/logo.png")" height="79" width="208" alt="" class="center">
            </a>
            <div class="fbStatus">
                <p>Connected as <span class="myName"></span><a href="@Url.Action("Index", "Home")" class="logOut" onclick="FB.logout()">Log Out</a></p>
            </div>
        </header>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="panel">
                <div class="steps">
                    <div class="step">
                        <div class="heading">
                            <div class="first line"><h4>1</h4></div>
                            <div class="second line"><h1>Pick Inspiration</h1></div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="heading">
                            <div class="first line"><h4>2</h4></div>
                            <div class="second line"><h1>Design Your Poster</h1></div>
                        </div>
                    </div>
                    <div class="step active">
                        <div class="heading">
                            <div class="first line"><h4>3</h4></div>
                            <div class="second line"><h1>Save and Share</h1></div>
                            <p>Almost there - just share your genius on Facebook. It's looking like you may have a box-office smash on your hands.</p>
                            <a class="button medium secondary" href="@Url.Action("Index", "Gallery")">View Gallery</a><br>
                            <a class="button medium primary fbShare" onclick="finalSharePrompt(@ViewBag.posterid)">
                                <img src="@Url.Content("~/Images/fb.png")" height="20" width="20" alt="" class="icon">
                                Share your poster
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <!-- poster goes here -->
            <div class="final-poster-frame">
                <div class="the-frame">
                    <img src="@Url.Content("~/Images/final-frame.png")" alt="">
                </div>
                <div class="the-poster">
                    <img src="@ViewBag.imageurlfromcdn" alt="">
                ></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-9 renderDump">

    </div>
</div>
<div class="row">
    <div class="col-3">
    </div>
    <div class="col-9 finalDump">

    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/pointer-fill.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fb-ck.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/flexslider.js")"></script>

    <!-- Main App -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/app-ck.js")"></script>

    <!-- Editor Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="@Url.Content("~/Scripts/html2canvas.js")"></script>
    <script src="@Url.Content("~/Scripts/slider.js")"></script>
    <script src="@Url.Content("~/Scripts/caman.js")"></script>
    <script src="@Url.Content("~/Scripts/scriptcam.min.js")"></script>
    <script src="@Url.Content("~/Scripts/getImage.js")"></script>
    <script src="@Url.Content("~/Scripts/squishy.js")"></script>
    <script src="@Url.Content("~/Scripts/editor.js")"></script>

    <script type="text/javascript">
        function finalSharePrompt(posterId) {
            FB.ui({
                method: 'feed',
                name: 'The Garofalo Gallery',
                picture: '@ViewBag.thumbnail',
                link: '@ViewBag.posterurlforfb',
                caption: 'now starring… you!',
                description: "Choose a movie poster, add yourself, customise the text and then faster than you can yell 'cut!', you're the star in your own movie."
            }, function (response) {
                if (response && !response.error_code) {
                    $.post("/api/UpdatePicture/Post", {
                        id: posterId
                    })
                    //alert('Posting completed.');
                } else {
                    //alert('Error while posting.');
                }
            });
        }
    </script>
}

