﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Inspiration";
}

<div class="container">
    <div class="row">
        <header>
            <a href="/">
                <img src="/images/logo.png" height="79" width="208" alt="" class="center">
            </a>
            <div class="fbStatus">
                <p>Connected as <span class="myName"></span><a href="@Url.Action("Index", "Home")" class="logOut" onclick="facebookLogOut()">Log Out</a></p>
            </div>
        </header>
    </div>


    <div class="row">
        <div class="col-3">
            <div class="panel">
                <div class="steps">
                    <div class="step active">
                        <div class="heading">
                            <div class="first line"><h4>1</h4></div>
                            <div class="second line"><h1>Pick Inspiration</h1></div>
                            <p>Just choose a poster from the 6 shown here to base your own creation on. Maybe you're feeling a little romantic? Or would some gladiators be more your speed? Whatever your taste, we've got it covered. So, which one will it be?</p>
                        </div>
                    </div>
                    <div class="step">
                        <div class="heading">
                            <div class="first line"><h4>2</h4></div>
                            <div class="second line"><h1>Design Your Poster</h1></div>
                        </div>

                    </div>
                    <div class="step">
                        <div class="heading">
                            <div class="first line"><h4>3</h4></div>
                            <div class="second line"><h1>Save and Share</h1></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <ul class="imageListing grid-3 galleryImages inspiration">
                <li>
                    
                    <a href="@Url.Action("Filmnoir")">
                        <img src="@Url.Content("~/Images/gallery-frame.png")" class="galleryFrame">
                        <img src="@Url.Content("~/Images/poster2.jpg")" alt="" class="galleryImage">
                    </a>
                    <div class="description">
                        <div class="title">Film Noir</div>
                        <p>Like your films like your <br /> squid ink pasta?</p>
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("Tuscan")">
                        <img src="@Url.Content("~/Images/gallery-frame.png")" class="galleryFrame">
                        <img src="@Url.Content("~/Images/poster4.jpg")" class="galleryImage" alt="">
                    </a>
                    <div class="description">
                        <div class="title">Kids</div>
                        <p>If cuteness is your thing, then we <br /> have your poster.</p>
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("Empire")">
                        <img src="@Url.Content("~/Images/gallery-frame.png")" class="galleryFrame">
                        <img src="@Url.Content("~/Images/poster1.jpg")" class="galleryImage" alt="">
                    </a>
                    <div class="description">
                        <div class="title">Gladiator</div>
                        <p>If you like swords, you'll give this <br /> one a thumbs up.</p>
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("Fantasy")">
                        <img src="@Url.Content("~/Images/gallery-frame.png")" class="galleryFrame">
                        <img src="@Url.Content("~/Images/poster3.jpg")" alt="" class="galleryImage">

                    </a>
                    <div class="description">
                        <div class="title">Fantasy</div>
                        <p>Magic yourself into <br /> a starring role.</p>
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("Romance")">
                        <img src="@Url.Content("~/Images/gallery-frame.png")" class="galleryFrame">
                        <img src="@Url.Content("~/Images/poster6.jpg")" alt="" class="galleryImage">

                    </a>
                    <div class="description">
                        <div class="title">Romance</div>
                        <p>Maybe something with a classic <br /> style is more your style?</p>
                    </div>
                </li>
                <li>
                    <a href="@Url.Action("RomCom")">
                        <img src="@Url.Content("~/Images/gallery-frame.png")" class="galleryFrame">
                        <img src="@Url.Content("~/Images/poster5.jpg")" alt="" class="galleryImage">

                    </a>
                    <div class="description">
                        <div class="title">Romantic Comedy</div>
                        <p>You'll laugh, you'll cry and then <br /> you'll laugh again.</p>
                    </div>
                </li>

            </ul>
        </div>
    </div>   
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/pointer-fill.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fb-ck.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/flexslider.js")"></script>

    <!-- Main App -->
    <script type="text/javascript" src="/Scripts/app-ck.js"></script>
}
