﻿@{
    ViewBag.Title = "Romantic Comedy";
    Layout = "~/Views/Poster/_BasePoster.cshtml";
}

<div class="col-9">

    <div class="workSpace romcom original-workspace" id="romcom">
        <div class="title-hotspot edit-text"></div>
        <div class="title">
            <span>Double Trouble</span>
        </div>
        <div class="edit-cast cast1 cast-hotspot" data-cast="cast-1"></div>
        <div class="cast cast-1">
            <span class="first-name">Lucy</span>
            <span class="last-name">Barnes</span>
        </div>
        <div class="edit-cast cast2 cast-hotspot" data-cast="cast-2"></div>
        <div class="cast cast-2">
            <span class="first-name">Sophie</span>
            <span class="last-name">Holmgren</span>
        </div>
        <div class="edit-cast cast3 cast-hotspot" data-cast="cast-3"></div>
        <div class="cast cast-3">
            <span class="first-name">Nima</span>
            <span class="last-name">Yassini</span>
        </div>

        <div class="hotspot-container" id="hotspot1" data-id="face-1">
            <div class="metaIcon" id="camera"></div>
            <div class="hotspot">

            </div>
        </div>
        <div class="hotspot-container" id="hotspot2" data-id="face-2">
            <div class="metaIcon" id="camera"></div>
            <div class="hotspot">

            </div>
        </div>
        <div class="hotspot-container" id="hotspot3" data-id="face-3">
            <div class="metaIcon" id="camera"></div>
            <div class="hotspot">

            </div>
        </div>

        <div class="face" id="face1" data-id="face-1">
            <div class="icon">
                <a>Edit</a>
                <a>Cancel</a>
            </div>
            <img src="@Url.Content("~/Images/romcom-face1.png")" alt="" class="face-1-original">
        </div>
        <div class="face-canvas face-1" id="canvas1">
            <img src="" class="face-1">
        </div>

        <div class="face" id="face2" data-id="face-2">
            <div class="icon">
                <a>Edit</a>
                <a>Cancel</a>
            </div>
            <img src="@Url.Content("~/Images/romcom-face2.png")" alt="" class="face-2-original">
        </div>
        <div class="face" id="face3" data-id="face-3">
            <div class="icon">
                <a>Edit</a>
                <a>Cancel</a>
            </div>
            <img src="@Url.Content("~/Images/romcom-face3.png")" alt="" class="face-3-original">
        </div>
        <div class="face-canvas face-2" id="canvas2">
            <img src="" class="face-2">
        </div>
        <div class="face-canvas face-3" id="canvas3">
            <img src="" class="face-3">
        </div>
        <div class="controls">
            <div class="scale">
                <!--<input type="range" id="image-scale" name="image-scale" min="0.5" max="3" value="1.0" step="0.015">-->
                <div class="sizing">
                    <a href="#" class="button barebones plus-minus minus-scale">-</a>
                    <a href="#" class="button barebones plus-minus add-scale">+</a>
                </div>
            </div>
            <div class="add">
                <a id="addEffect" onclick="addEffect(theDestination)" class="addToPoster">Add to Poster</a>
            </div>
        </div>
        <div class="poster">
            <img src="@Url.Content("~/Images/romcom-poster.png")" alt="" id="thePoster">
        </div>
        <div class="marker">
            <img src="@Url.Content("~/Images/marker.png")" height="1140" width="806" alt="">
        </div>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#text-editor-input').val("Double Trouble");
        });
    </script>
}