﻿<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Garofalo Gallery - Romantic Comedy</title>
    <link rel="stylesheet" href="/Content/webfonts.css" />
    <link rel="stylesheet" href="/Content/Site.css" />
    <link rel="stylesheet" href="/Content/animate.css" />
    <link rel="stylesheet" href="/Content/spinner.css" />
    <link rel="stylesheet" href="/Content/flexslider.css" />
    <link rel="stylesheet" href="/Content/jui.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="/stylesheets/2002.css" />
    <![endif]-->
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="//use.typekit.net/wrh7hef.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
</head>
<body class="loginCheck" onload="securityCheck(), checkLoginState()">
    <!--<button id="html2canvas">go</button>-->
    <div class="flash"></div>
    <div class="title-editor">
        <div class="edit-box">
            <h2>Edit Text</h2>
            <span class="charRemaining"></span>
            <input type="text" id="text-editor-input" value="" autocomplete="off">
        </div>
        <div class="edit-buttons">
            <div class="row">
                <div class="col-6">
                    <a class="button large secondary cancel-title">Cancel</a>
                </div>
                <div class="col-6">
                    <a class="button large primary update-title">Update Title</a>
                </div>
            </div>
        </div>
    </div>
    <div class="cast-editor">
        <div class="edit-box">
            <h2>First Name</h2>
            <span class="firstRemaining"></span>
            <input type="text" id="first-name-input" value="" autocomplete="off">
            <h2>Last Name</h2>
            <span class="lastRemaining"></span>
            <input type="text" id="last-name-input" value="" autocomplete="off">
        </div>
        <div class="edit-buttons">
            <div class="row">
                <div class="col-6">
                    <a class="button large secondary cancel-cast">Cancel</a>
                </div>
                <div class="col-6">
                    <a class="button large primary update-cast">Update Name</a>
                </div>
            </div>
        </div>
    </div>
    <div class="noise"></div>
    <div class="abandon-container">
        <div class="abandon">
            <h4>Abandon your masterpiece?</h4>
            <p>Are you sure you want to deprive the world of this cinematic masterpiece? All changes will be lost.</p>
            <div class="row">
                <div class="col-6">
                    <a class="button large secondary barebones close-abandon">Cancel</a>
                </div>
                <div class="col-6">
                    <a class="button large primary barebones" href="/inspiration">Ok</a>
                </div>
            </div>
        </div>
    </div>
    <div class="terms-container">
        <div class="terms">
            <div class="close-terms"></div>
            <div class="text">
                <h4>Terms of Use</h4>
                <p>
                    Garofalo and this campaign are not affiliated with any movie studios, actors, production

                    houses or any other entity unless otherwise indicated.

                    When a user creates or submits any materials via this page including posters, copy,

                    comments, and images (“Content”), the user licenses and grants Garofalo, its agency New

                    Republique, their affiliates and sub-licensees (together, the “Licensees”) a non-exclusive,

                    royalty-free, perpetual, worldwide, irrevocable, and sub-licensable right to use, reproduce,

                    modify, adapt, publish and display such Content for any purpose in any media, without

                    compensation, restriction on use, attribution or liability. Users agree not to assert any moral

                    rights in relation to such use and warrant that they have the full authority to grant these rights.

                    Users agree that they are fully responsible for the Content they submit. The Licensees shall

                    not be liable in any way for such Content to the full extent permitted by law. Garofalo or

                    New Republique may remove any Content without notice for any reason whatsoever. Users

                    warrant and agree that: (a) they will not submit any Content that is unlawful or fraudulent,

                    or that Garofalo or New Republique may deem in breach of any intellectual property,

                    privacy, publicity or other rights, defamatory, obscene, derogatory, pornographic, sexually

                    inappropriate, violent, abusive, harassing, threatening, objectionable with respect to race,

                    religion, origin or gender, not suitable for children aged under 15, or otherwise unsuitable

                    for publication; (b) they will obtain prior consent from any person or property that appears

                    in their Content; (c) they will obtain full prior consent from any person who has jointly

                    created or has any rights in the Content, to the uses and terms herein; (d) their Content

                    shall not contain viruses or cause injury or harm to any person or entity; and (e) they will

                    comply with all applicable laws and regulations, including without limitation, those governing

                    copyright, content, defamation, privacy, publicity and the access or use of others' computer or

                    communication systems.
                </p>
            </div>
        </div>
    </div>
    <div class="image-lightbox">
        <div class="image-container">
            <img src="" alt="" id="final-image">
        </div>
    </div>
    <div class="loading">
        <div class="loadContain">
            <img src="/images/loading.gif" alt="" class="loading-spin">
            <!--<div class="spinner">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>-->
            <p class="loadingMessage">Fear and Loading in Las Vegas...</p>
        </div>
    </div>  <div class="sidebar">
        <a class="closeSidebar"><img src="../images/closeButton.png" height="30" width="30" alt=""></a>
        <div class="row sidebarTop">
            <div class="large-12 columns">
                <a class="sidebar-back button">Back</a>
                <h2 class="sidebarTitle">Edit Face - <span class="currentSection">Insert an Image</span></h2>
            </div>
        </div>
        <div class="pickInput">
            <div class="input-method webcam-input">
                <div class="icon"></div>
                <h2>Take a Photo</h2>
            </div>
            <div class="divider">
                <img src="../images/divider.png" height="33" width="132" alt="">
            </div>
            <div class="input-method facebook-input">
                <div class="icon"></div>
                <h2>Choose from Facebook</h2>
            </div>
        </div>
        <div class="yourImages">
            <div class="row">
                <div class="large-12 columns">
                    <div class="sidebarLoading">
                        <img src="/images/loading.gif" alt="" class="loading-spin">
                    </div>
                    <ul class="photoPicker"></ul>
                </div>
            </div>
        </div>
        <div class="row sidebarButtons">
            <div class="buttonContain">
                <div class="col-6">
                    <a href="/gallery" class="button large secondary">Cancel</a>
                </div>
                <div class="col-6">
                    <a href="/editor.html" class="button large primary">
                        Save
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="blackOut"></div>
    <div class="container">
        <div class="row">
            <header>
                <a href="/">
                    <img src="/images/logo.png" height="79" width="208" alt="" class="center">
                </a>
                <div class="fbStatus">
                    <p>Connected as <span class="myName"></span><a href="#" class="logOut" onclick="facebookLogOut()">Log Out</a></p>
                </div>
            </header>
        </div>
        <div class="row editorNav">
            <div class="col-6">
                <a class="button large secondary backToInspiration">&#171; Back to Inspiration</a>
            </div>
            <div class="col-6">
                <a class="button large savePoster">Save and Continue &#187;</a>
            </div>
        </div>

        <div class="webcam-contain">
            <div class="takePhoto">
                <h2>Hit SPACE to take a photo</h2>
                <a href="#" class="button large secondary closeWebcam">Cancel</a>
                <span class="webcam-warning">Note: Chrome users may not see preview, but image will still be captured.</span>
            </div>
            <div class="webcam-wrap">
                <div id="webcam"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="panel">
                    <div class="steps">
                        <div class="step">
                            <div class="heading">
                                <div class="first line"><h4>1</h4></div>
                                <div class="second line"><h1>Pick Inspiration</h1></div>
                            </div>
                        </div>
                        <div class="step active">
                            <div class="heading">
                                <div class="first line"><h4>2</h4></div>
                                <div class="second line"><h1>Design Your Poster</h1></div>
                            </div>
                            <p>Time to take our templates from ‘who’ to you. Add your own face. Add your friends. Then try some carefully crafted words to let the whole world know who you are.</p>
                            <p><strong>For best results, try and use a photo that's well-lit, evenly-exposed, and front-on.</strong></p>
                            <p>Remember to ensure that your work is original and that you comply with our <a href="#" class="terms-of-use">terms of use</a>.</p>
                        </div>
                        <div class="step">
                            <div class="heading">
                                <div class="first line"><h4>3</h4></div>
                                <div class="second line"><h1>Save and Share</h1></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-9">

                <div class="workSpace romcom original-workspace" id="romcom">
                    <div class="title-hotspot edit-text"></div>
                    <div class="title">
                        <span>Double Trouble</span>
                    </div>
                    <div class="edit-cast cast1 cast-hotspot" data-cast="cast-1"></div>
                    <div class="cast cast-1">
                        <span class="first-name">Lucy</span>
                        <span class="last-name">Barnes</span>
                    </div>
                    <div class="edit-cast cast2 cast-hotspot" data-cast="cast-2"></div>
                    <div class="cast cast-2">
                        <span class="first-name">Sophie</span>
                        <span class="last-name">Holmgren</span>
                    </div>
                    <div class="edit-cast cast3 cast-hotspot" data-cast="cast-3"></div>
                    <div class="cast cast-3">
                        <span class="first-name">Nima</span>
                        <span class="last-name">Yassini</span>
                    </div>

                    <div class="hotspot-container" id="hotspot1" data-id="face-1">
                        <div class="metaIcon" id="camera"></div>
                        <div class="hotspot">

                        </div>
                    </div>
                    <div class="hotspot-container" id="hotspot2" data-id="face-2">
                        <div class="metaIcon" id="camera"></div>
                        <div class="hotspot">

                        </div>
                    </div>
                    <div class="hotspot-container" id="hotspot3" data-id="face-3">
                        <div class="metaIcon" id="camera"></div>
                        <div class="hotspot">

                        </div>
                    </div>

                    <div class="face" id="face1" data-id="face-1">
                        <div class="icon">
                            <a>Edit</a>
                            <a>Cancel</a>
                        </div>
                        <img src="../images/romcom-face1.png" alt="" class="face-1-original">
                    </div>
                    <div class="face-canvas face-1" id="canvas1">
                        <img src="" class="face-1">
                    </div>

                    <div class="face" id="face2" data-id="face-2">
                        <div class="icon">
                            <a>Edit</a>
                            <a>Cancel</a>
                        </div>
                        <img src="../images/romcom-face2.png" alt="" class="face-2-original">
                    </div>
                    <div class="face" id="face3" data-id="face-3">
                        <div class="icon">
                            <a>Edit</a>
                            <a>Cancel</a>
                        </div>
                        <img src="../images/romcom-face3.png" alt="" class="face-3-original">
                    </div>
                    <div class="face-canvas face-2" id="canvas2">
                        <img src="" class="face-2">
                    </div>
                    <div class="face-canvas face-3" id="canvas3">
                        <img src="" class="face-3">
                    </div>
                    <div class="controls">
                        <div class="scale">
                            <!--<input type="range" id="image-scale" name="image-scale" min="0.5" max="3" value="1.0" step="0.015">-->
                            <div class="sizing">
                                <a href="#" class="button medium barebones plus-minus minus-scale">-</a>
                                <a href="#" class="button medium barebones plus-minus add-scale">+</a>
                            </div>
                        </div>
                        <div class="add">
                            <a id="addEffect" onclick="addEffect(theDestination)" class="addToPoster">Add to Poster</a>
                        </div>
                    </div>
                    <div class="poster">
                        <img src="../images/romcom-poster.png" alt="" id="thePoster">
                    </div>
                    <div class="marker">
                        <img src="../images/marker.png" height="1140" width="806" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-9 renderDump">

            </div>
        </div>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-9 finalDump">

            </div>
        </div>

    </div>
    <footer>
        <p>© Copyright 2003-2007, Pastificio Lucio Garofalo S.p.A. <strong>To find out more on Garofalo's passion for pasta and film, visit <a target="_blank" href="http://www.pastagarofalo.it/">www.pastagarofalo.it</a></strong></p>
    </footer> 	<!-- Global Libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/Scripts/flexslider.js"></script>
    <script src="/Scripts/pointer-fill.js"></script>
    <script src="/Scripts/fb-ck.js"></script>
    <script src="/Scripts/jquery-ui-1.10.4.custom.min.js"></script>


    <!-- Main App -->
    <script src="/Scripts/app-ck.js"></script>
    <!-- Editor Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="/Scripts/html2canvas.js"></script>
    <script src="/Scripts/slider.js"></script>
    <script src="/Scripts/caman.js"></script>
    <script src="/Scripts/scriptcam.min.js"></script>
    <script src="/Scripts/getImage.js"></script>
    <script src="/Scripts/squishy.js"></script>
    <script src="/Scripts/editor.js"></script>
</body>
</html>
