﻿<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Garofalo Gallery - @ViewBag.title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("AddToHead", required: false)
    @Scripts.Render("~/bundles/modernizr")
    
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/2002.css")" />
    <![endif]-->
    <script type="text/javascript" src="//use.typekit.net/wrh7hef.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
    <link rel="SHORTCUT ICON" href="@Url.Content("~/Content/favicon.ico")" />
</head>
<body class="loginCheck" onload="securityCheck(), checkLoginState()">
    <div class="noise"></div>
    @RenderBody()
    <footer>
        <p>
            <strong>
                To find out more on Garofalo's passion for pasta and film, visit <a target="_blank" href="http://www.pastagarofalo.it/">www.pastagarofalo.it</a>
            </strong>
            &nbsp; © Copyright 2003-2007, Pastificio Lucio Garofalo S.p.A.            
        </p>
    </footer>
    
    @RenderSection("scripts", required: false)
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-52532918-1', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
