﻿<div class="terms-container">
    <div class="terms">
        <div class="close-terms"></div>
        <div class="text">
            <h4>Terms of Use</h4>
            <p>
                Garofalo and this campaign are not affiliated with any movie studios, actors, production
                houses or any other entity unless otherwise indicated.
                When a user creates or submits any materials via this page including posters, copy,
                comments, and images ("Content"), the user licenses and grants Garofalo, its agency New
                Republique, their affiliates and sub-licensees (together, the "Licensees") a non-exclusive,
                royalty-free, perpetual, worldwide, irrevocable, and sub-licensable right to use, reproduce,
                modify, adapt, publish and display such Content for any purpose in any media, without
                compensation, restriction on use, attribution or liability. Users agree not to assert any moral
                rights in relation to such use and warrant that they have the full authority to grant these rights.
                Users agree that they are fully responsible for the Content they submit. The Licensees shall
                not be liable in any way for such Content to the full extent permitted by law. Garofalo or
                New Republique may remove any Content without notice for any reason whatsoever. Users
                warrant and agree that: (a) they will not submit any Content that is unlawful or fraudulent,
                or that Garofalo or New Republique may deem in breach of any intellectual property,
                privacy, publicity or other rights, defamatory, obscene, derogatory, pornographic, sexually
                inappropriate, violent, abusive, harassing, threatening, objectionable with respect to race,
                religion, origin or gender, not suitable for children aged under 15, or otherwise unsuitable
                for publication; (b) they will obtain prior consent from any person or property that appears
                in their Content; (c) they will obtain full prior consent from any person who has jointly
                created or has any rights in the Content, to the uses and terms herein; (d) their Content
                shall not contain viruses or cause injury or harm to any person or entity; and (e) they will
                comply with all applicable laws and regulations, including without limitation, those governing
                copyright, content, defamation, privacy, publicity and the access or use of others' computer or
                communication systems.
            </p>
        </div>
    </div>
</div>
