﻿
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <header>
            <a href="/">
                <img src="@Url.Content("~/Images/logo.png")" height="79" width="208" alt="" class="center">
            </a>
            <div class="fbStatus">
                <p>Connected as <span class="myName"></span><a href="#" class="logOut" onclick="FB.logout()">Log Out</a></p>
            </div>
        </header>
    </div>
    <h1>Error</h1>

    <h2>
        Sorry, the page you are looking for cannot be found.
    </h2>
    <p>
        <a href="/">Home</a>
    </p>

</div>