﻿@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.title = "Home";
}
<div class="container">
    <div class="row">
        <header>
            <a href="/">
                <img src="@Url.Content("~/Images/logo.png")" height="79" width="208" alt="" class="center" style="margin-left:auto !important; margin-right:auto !important; float: none !important">
            </a>
            @*<div class="fbStatus">
                    <p>Connected as <span class="myName"></span><a href="#" class="logOut" onclick="FB.logout()">Log Out</a></p>
                </div>*@
        </header>
    </div>


    <div class="row">
        <div class="col-6">
            <div class="row">
                <img src="@Url.Content("~/Images/hero.png")" alt="" class="center hero">
            </div>
            <div class="row">
                <p>
                    Being Italian, Garofalo knows a lot about the art of pasta. But we also love and support the art of cinema. So now we're combining both these
                    passions with the Garofalo Gallery. Choose a movie poster, add yourself, customise the text and then faster than you can yell 'cut!', you're the star in your own movie. 
                    <br />
                    Bon appetito!
                </p>
            </div>
            <div class="row">
                <div class="col-6">
                    <a href="@Url.Action("Index", "Gallery")" class="button large secondary">View the Gallery</a>
                </div>
                <div class="col-6">
                    <a class="button large primary fbLogin">
                        <img src="@Url.Content("~/Images/fb.png")" height="20" width="20" alt="" class="icon">
                        Get started via Facebook
                    </a>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-5">
            <div class="shine">
                <img src="@Url.Content("~/Images/frameShine.png")" height="215" width="293" alt="">
            </div>
            <div class="flexslider homeslider">
                <ul class="slides">
                    <li><img src="@Url.Content("~/Images/poster2.jpg")" /></li>
                    <li><img src="@Url.Content("~/Images/poster1.jpg")" /></li>
                    <li><img src="@Url.Content("~/Images/poster3.jpg")" /></li>
                    <li><img src="@Url.Content("~/Images/poster4.jpg")" /></li>
                    <li><img src="@Url.Content("~/Images/poster5.jpg")" /></li>
                    <li><img src="@Url.Content("~/Images/poster6.jpg")" /></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/pointer-fill.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fb-ck.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/flexslider.js")"></script>

    <!-- Main App -->
    <script type="text/javascript" src="/Scripts/app-ck.js"></script>

    
}
