﻿@model NewRepublique.Garofalo.Campaign.Models.ViewModels.PosterViewModel


@if (Model != null)
{
    <div class="gallery-lightbox">
        <div class="inspired-prompt">
            <h2>Inspired? Create your own.</h2>
            <a class="button large primary fbLogin barebones">
                <img src="/images/fb.png" height="20" width="20" alt="" class="icon">
                Connect with Facebook
            </a>
        </div>
        <div class="image-contain">
            <div class="close"></div>

            <div class="the-image">
                <div class="meta poster-details">
                    <div class="title"><p>@Model.Title</p></div>
                    <div class="author"><p>@Model.AuthorName</p></div>
                </div>
                <div class="poster-actions poster-details">
                    <div id="divAppropriateness">
                        <div id="divModalUpdating" class="button secondary barebones" style="display:none;">
                            ...Flagging
                        </div>
                        @Ajax.ActionLink("Report", "FlagForInappropriateness", "Gallery",
                        new { @id = Model.Id },
                        new AjaxOptions
                        {
                            UpdateTargetId = "divAppropriateness",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            LoadingElementId = "divModalUpdating"
                        },
                        new
                        {
                            id = string.Format("lnkFlag{0}", Model.Id),
                            @class = "button secondary barebones",
                            @onclick = string.Format("hideReportButton({0})", @Model.Id)
                        })
                    </div>
                    <div>
                        <a href="#" onclick="sharePrompt(@Model.Id);" class="button primary barebones">Share</a>
                    </div>
                </div>
                <img src="@Model.ImageUrl" class="lightbox-image" alt="">
            </div>
            <div class="lightbox-controls">
                @if (Model.PreviousPosterId != 0)
                {
                    <div class="left-control">
                        <a href="#" class="left-arrow" onclick="previousPosterClick();">
                            <img src="/images/leftSlide.png" alt="">
                        </a>
                    </div>
                    @Ajax.ActionLink("LeftSlide", "GetPoster", "Gallery",
                        new { @id = Model.PreviousPosterId, @orderBy = @ViewBag.orderby },
                        new AjaxOptions
                        {
                            UpdateTargetId = "divPoster",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST"
                        },
                        new
                        {
                            id = "lnkGetPosterPrevious",
                            @style = "display:none;"
                        })
                }

                @if (Model.NextPosterId != 0)
                {
                    <div class="right-control">
                        <a href="#" class="right-arrow" onclick="nextPosterClick();">
                            <img src="/images/rightSlide.png" alt="">
                        </a>
                    </div>
                    @Ajax.ActionLink("RightSlide", "GetPoster", "Gallery",
                        new { @id = Model.NextPosterId, @orderBy = @ViewBag.orderby },
                        new AjaxOptions
                        {
                            UpdateTargetId = "divPoster",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                        },
                        new
                        {
                            id = "lnkGetPosterNext",
                            @style = "display:none;"
                        })
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="error-modal-box">
      <div class="modal-contain">
        <div class="error-modal">
          <p>The poster you've been linked to has been removed. <span class="close-error" onclick="closeError();">Close</span></p>
        </div>
      </div>
    </div>    
}

<script type="text/javascript" src="@Url.Content("~/Scripts/app-ck.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        if('@ViewBag.showerror' === "1")
        {
            $('.error-modal-box').fadeIn(300);
        }
        else
        {
            $('.gallery-lightbox').fadeIn();
        }
    });

    function sharePrompt(posterId) {
        FB.ui({
            method: 'feed',
            name: 'The Garofalo Gallery',
            picture: '@ViewBag.imageurlfromcdn',
            link: '@ViewBag.posterurlforfb',
            caption: 'now starring… you!',
            description: "Choose a movie poster, add yourself, customise the text and then faster than you can yell 'cut!', you're the star in your own movie."
        }, function (response) {
            if (response && !response.error_code) {
                $.post("/api/UpdatePicture/Post", {
                    id: posterId
                })
                //alert('Success ' + posterId);
            } else {
                //alert('Error while posting. ' + posterId);
            }
        });
    }

    function closeError()
    {
        $('.error-modal-box').fadeOut(300);
    }
</script>
