﻿@model NewRepublique.Garofalo.Campaign.Models.ViewModels.PostersViewModel

@{
    Layout = null;
}

<div>
    @{
        int posterCounter = 1;
        foreach (var item in Model.PostersToShow)
        {
            if (posterCounter % 3 == 0)
            {

                <div class="gallery-item-last">
                    <a onclick="displayModal('lnkGetPoster' + @item.Id);">
                        <img src="/images/gallery-frame.png" class="galleryFrame">
                        <img class="gallery-poster" src="@item.ThumbnailUrl" />
                    </a>
                    <div class="description">
                        <div class="title">
                            @item.Title
                        </div>
                        <div class="author">
                            @item.Entrant.FirstName
                        </div>
                    </div>

                </div>


                @Ajax.ActionLink("Ajax Call Here", "GetPoster", "Gallery",
                    new { @id = item.Id, @orderBy = @ViewBag.orderby },
                    new AjaxOptions
                    {
                        UpdateTargetId = "divPoster",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    },
                    new
                    {
                        id = string.Format("lnkGetPoster{0}", item.Id),
                        @style = "display:none;"
                    })

                <div class="clear">
                </div>
            }
            else
            {
                <div class="gallery-item">
                    <a onclick="displayModal('lnkGetPoster' + @item.Id);">
                        <img src="/images/gallery-frame.png" class="galleryFrame">
                        <img class="gallery-poster" src="@item.ThumbnailUrl" />
                    </a>
                    <div class="description">
                        <div class="title">
                            @item.Title
                        </div>
                        <div class="author">
                            @item.Entrant.FirstName
                        </div>
                    </div>

                </div>

                @Ajax.ActionLink("Ajax Call Here", "GetPoster", "Gallery",
                    new { @id = item.Id, @orderBy = @ViewBag.orderby },
                    new AjaxOptions
                    {
                        UpdateTargetId = "divPoster",
                        InsertionMode = InsertionMode.Replace,
                        HttpMethod = "POST"
                    },
                    new
                    {
                        id = string.Format("lnkGetPoster{0}", item.Id),
                        @style = "display:none;"
                    })
            }

            posterCounter++;
        }
    }

</div>

