﻿@{
    Layout = "~/Views/Shared/_LayoutGallery.cshtml";
    ViewBag.title = "Gallery";
}

<div class="container">
    <!-- modal content -->
    
        <div id="divPoster">
           
        </div>


    <div class="row">
        <header>
            <a href="/">
                <img src="@Url.Content("~/Images/logo.png")" height="79" width="208" alt="" class="center">
            </a>
            <div class="fbStatus">
                <p>Connected as <span class="myName"></span><a href="#" class="logOut" onclick="FB.logout()">Log Out</a></p>
            </div>
        </header>
    </div>

    <div class="row">
        <div class="col-3">
            <div class="panel">
                <div class="heading">
                    <div class="first line">The</div>
                    <div class="second line"><h1>Garofalo Gallery</h1></div>
                </div>                

                <p style="font-size:13px; line-height:20px;"> 
                    Looking for some cinematic inspiration? Well, you've come to the right place. Here's some poster masterpieces that other Garofalo directors have already created.
                </p>
                <a id="lnkGalleryFB" href="@Url.Action("Inspiration", "Poster")" class="button medium primary fbLogin barebones" onclick="FB.login()" style="font-size:11px;">
                    <img src="@Url.Content("~/Images/fb.png")" height="20" width="20" alt="" class="icon">
                    Get started via Facebook
                </a>
            </div>
        </div>
        <div class="col-9">
            <div class="sorter">
                <label>Sort By:</label>
                <div class="sortOptions">
                    <a id="linkMostRecent"
                       href="@Url.Action("Index", "Gallery",  new { @orderBy = "mostRecent" })">Most Recent</a>
                    <a id="linkMostViewed"
                       href="@Url.Action("Index", "Gallery",  new { @orderBy = "mostViewed" })">Most Viewed</a>
                </div>
            </div>
            <div id="divPosterScroll" class="scroll">                
                @*@Html.ActionLink("Next Page", "Posters", "Gallery", new { @orderBy = ViewBag.orderby })*@
                
            </div>
            <div id="divUpdatingLazyLoading" style="display:none;">
                ...Loading
            </div>

            <div>
                @Ajax.ActionLink("Ajax Call Here", "Posters", "Gallery",
                    new { @orderBy = ViewBag.orderby },
                    new AjaxOptions
                    {
                        UpdateTargetId = "divPosterScroll",
                        InsertionMode = InsertionMode.InsertAfter,
                        HttpMethod = "POST",
                        LoadingElementId = "divUpdatingLazyLoading",
                    },
                    new
                    {
                         id = "lnkLazyLoad",
                         @style = "display:none;"
                    })

            </div>
        </div>
    </div>
</div>

@Ajax.ActionLink("Ajax Call Here", "GetPoster", "Gallery",
    new { @id = ViewBag.posterid, @orderBy = @ViewBag.orderby },
    new AjaxOptions
    {
        UpdateTargetId = "divPoster",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST",
        LoadingElementId = "divUpdating",
    },
    new
    {
        id = string.Format("lnkGetPoster{0}", ViewBag.posterid),
        @style = "display:none;"
    })


@section Scripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/pointer-fill.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Url.Content("~/Scripts/jScroll/jquery.jscroll.js")" type="text/javascript"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/fb-ck.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/SimpleModal/jquery.simplemodal.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Gallery.js")"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() == $(document).height()) {
                $('#lnkLazyLoad').click();
            }
        });

        $(document).ready(function () {
            $('#lnkLazyLoad').click();
            $('#lnkLazyLoad').click();
            $('#lnkLazyLoad').click();
            $('#lnkLazyLoad').click();
            //setup the scrolling
            @*$('.scroll').jscroll({
                autoTrigger: false,
                //autoTriggerUntil : @ViewBag.total,
                loadingHtml: '<div>Loading...</div>'
            });*@

            var sortBy = '@ViewBag.orderby';
            if(sortBy == "mostRecent")
            {
                $("#linkMostRecent").addClass("active");
            }
            else
            {
                $("#linkMostViewed").addClass("active");
            }

            var autoDisplayModal = '@ViewBag.autodisplaymodal';

            if(autoDisplayModal === 'True')
            {
                displayModal('lnkGetPoster' + '@ViewBag.posterid');
            }
        });  
    </script>
}

@section AddToHead
{
    <meta property="og:url" content="@ViewBag.imageurl">
    <meta property="og:title" content="The Garofalo Gallery">
    <meta property="og:description" content="Choose a movie poster, add yourself, customise the text and then faster than you can yell 'cut!', you're the star in your own movie.">
    <meta property="og:image" content="http://garofalogallery.com/Images/Final_Garofalo.jpg">
}
