﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowTest</title>
</head>
<body>
    <img src="@Url.Content("~/Images/empire-poster.png")" />
</body>
</html>
