﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta property="og:url" content="@ViewBag.url">
    <meta property="og:title" content="Garofalo - now staring… you!">
    <meta property="og:site_name" content="My Favorite News" />
    <meta property="og:description" content="Choose a movie poster, add yourself, customise the text and then faster than you can yell 'cut!, youre the star in your own movie.">
    <meta property="og:image" content="@ViewBag.imageurl">
    <title>Garofalo</title>
</head>
<body>
    <img src="@ViewBag.imageurl" />
</body>
</html>
